{% set SUBSCRIPTION_STATE_ACTIVE = constant('Shopware\\Commercial\\Subscription\\System\\StateMachine\\Subscription\\State\\SubscriptionStates::STATE_ACTIVE') %}
{% set SUBSCRIPTION_STATE_PAUSED = constant('Shopware\\Commercial\\Subscription\\System\\StateMachine\\Subscription\\State\\SubscriptionStates::STATE_PAUSED') %}
{% set SUBSCRIPTION_STATE_CANCELLED = constant('Shopware\\Commercial\\Subscription\\System\\StateMachine\\Subscription\\State\\SubscriptionStates::STATE_CANCELLED') %}
{% set SUBSCRIPTION_STATE_FLAGGED_CANCELLED = constant('Shopware\\Commercial\\Subscription\\System\\StateMachine\\Subscription\\State\\SubscriptionStates::STATE_FLAGGED_CANCELLED') %}
{% set SUBSCRIPTION_STATE_PAYMENT_FAILED = constant('Shopware\\Commercial\\Subscription\\System\\StateMachine\\Subscription\\State\\SubscriptionStates::STATE_PAYMENT_FAILED') %}

{% block page_account_subscription_item_overview %}
    <div class="subscription-wrapper">
        <div class="subscription-item-header">
            {% set subscriptionState = subscription.stateMachineState.technicalName %}

            <div class="row flex-wrap align-items-center">
                {% block page_account_subscription_item_heading %}
                    <h3 class="col-auto subscription-table-header-heading">
                        {{ "commercial.subscriptions.account.nextExecution"|trans|sw_sanitize }} {{ subscription.nextSchedule|format_date('short', locale=app.request.locale) }}
                    </h3>
                {% endblock %}

                {% block page_account_subscription_item_status_col %}
                    <div class="col-12 col-sm">
                        {% block page_account_subscription_item_status %}
                            <div class="subscription-table-header-status">
                                {% block page_account_subscription_item_status_badge %}
                                    <span class="badge badge-lg subscription-item-status-badge subscription-item-status-badge-{{ subscriptionState }}">
                                        {{ subscription.stateMachineState.translated.name }}
                                    </span>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}

                {% if subscription.remainingExecutionCount > 0 %}
                    {% block page_account_subscription_item_remaing_execution_alert %}
                        <div class="subscription-table-header-alert">
                            {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                                type:"info",
                                content: "commercial.subscriptions.account.subscriptionRemainingExecutionCount"|trans({"%count%": subscription.remainingExecutionCount}),
                                dismissible: false
                            } %}
                        </div>
                    {% endblock %}
                {% endif %}

                {% if subscriptionState == SUBSCRIPTION_STATE_ACTIVE or subscriptionState == SUBSCRIPTION_STATE_PAUSED %}
                    {% block page_account_subscription_item_context_menu_col %}
                        <div class="col-1 subscription-table-header-context-menu-wrapper">
                            {% block page_account_order_item_context_menu %}
                                {% block page_account_order_item_context_menu_button %}
                                    <button class="btn dropdown-toggle subscription-table-header-context-menu"
                                            type="button"
                                            data-bs-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        {% sw_icon 'more-horizontal' %}
                                    </button>
                                {% endblock %}

                                {% block page_account_subscription_item_context_menu_content %}
                                    <div class="dropdown-menu dropdown-menu-right subscription-table-header-context-menu-content"
                                         aria-labelledby="accountOrderDropdown">

                                        {% if subscriptionState == SUBSCRIPTION_STATE_ACTIVE %}
                                            {% block page_account_subscription_item_context_menu_content_pause_subscription %}
                                                <a class="subscription-table-header-context-menu-content-link"
                                                   href="{{ path('frontend.account.subscription.pause', { 'subscriptionId': subscription.id }) }}">
                                                    {{ "commercial.subscriptions.account.pauseSubscription"|trans|sw_sanitize }}
                                                </a>
                                            {% endblock %}
                                        {% endif %}

                                        {% if subscriptionState == SUBSCRIPTION_STATE_PAUSED %}
                                            {% block page_account_subscription_item_context_menu_content_resume_subscription %}
                                                <a class="subscription-table-header-context-menu-content-link"
                                                   href="{{ path('frontend.account.subscription.activate', { 'subscriptionId': subscription.id }) }}">
                                                    {{ "commercial.subscriptions.account.resumeSubscription"|trans|sw_sanitize }}
                                                </a>
                                            {% endblock %}
                                        {% endif %}

                                        {% block page_account_subscription_item_context_menu_content_cancel_subscription %}
                                            <a class="subscription-table-header-context-menu-content-link"
                                               href="{{ path('frontend.account.subscription.cancel', { 'subscriptionId': subscription.id }) }}">
                                                {{ "commercial.subscriptions.account.cancelSubscription"|trans|sw_sanitize }}
                                            </a>
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            {% endblock %}
                        </div>
                    {% endblock %}
                {% endif %}

                {% block page_account_subscription_item_delivery_frequency_col %}
                    <div class="col-1 subscription-table-header-info-wrapper mb-0">
                        {% block page_account_subscription_item_deliver_frequency %}
                            <strong class="subscription-table-header-label">
                                {{ "commercial.subscriptions.account.deliveryFrequency"|trans|sw_sanitize }}
                            </strong>
                            <span class="subscription-table-body-value">
                                {{ subscription.interval.translated.name ? subscription.interval.translated.name : subscription.subscriptionIntervalName }}
                            </span>
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block page_account_subscription_item_subscripiton_number_col %}
                    <div class="col-12 subscription-table-header-info-wrapper">
                        {% block page_account_subscription_item_subscription_number %}
                            <strong class="subscription-table-header-label">
                                {{ "commercial.subscriptions.account.subscriptionNumber"|trans|sw_sanitize }}
                            </strong>
                            <span class="subscription-table-body-value">
                                {{ subscription.subscriptionNumber|sw_sanitize }}
                            </span>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>

    {% block page_account_subscription_item_detail %}
        {% sw_include '@Commercial/storefront/page/account/subscription/subscription-detail.html.twig' %}
    {% endblock %}
{% endblock %}
