{% block acris_customer_prices_product_tab_tab_tabs %}
<div class="acris-product-tab-detail-tabs">
    {% block acris_customer_prices_product_tab_tab_add_modal %}
    <sw-modal v-if="currentCustomerPrice"
              variant="full"
              @modal-close="onCloseCustomerPriceModal"
              :title="$tc('acris-customer-prices-product-tab.titleModalProducts')">
        {% block acris_customer_prices_product_tab_tab_add_modal_field_form %}
            <acris-customer-price-product-modal-form :customerPrice="currentCustomerPrice"
                                       :item="product"
                                       :helpText="helpTextCustomerPrice"
                                       :isLoading="isLoading"
                                       :isProductPage="isProductPage"
                                     v-if="product">
            </acris-customer-price-product-modal-form>
        {% endblock %}

        {% block acris_customer_prices_product_tab_tab_add_modal_footer %}
        <template #modal-footer>
            {% block acris_customer_prices_product_tab_tab_add_modal_cancel %}
            <sw-button size="small" @click="onCloseCustomerPriceModal">
                {{ $tc('acris-customer-prices-product-tab.modalProductCancelButton') }}
            </sw-button>
            {% endblock %}

            {% block acris_customer_prices_product_tab_tab_add_modal_apply %}
            <sw-button variant="primary" size="small" @click="onSaveCustomerPrice"
                       :disabled="!currentCustomerPrice.customerId || customerPriceExist">
                {{ $tc('acris-customer-prices-product-tab.modalProductApplyButton') }}
            </sw-button>
            {% endblock %}
        </template>
        {% endblock %}
    </sw-modal>
    {% endblock %}

    {% block acris_customer_prices_product_tab_content_fields_card_customer_prices %}
    <sw-card :isLoading="isLoading"
             :large="true"
             :title="$tc('acris-customer-prices-product-tab.cardCustomerPrice')">

        {% block acris_customer_prices_product_tab_toolbar_customer_prices %}
        <template #toolbar>
            <sw-card-filter placeholder=""
                               @sw-card-filter-term-change="onChange">
            <template #filter>
                    {% block acris_customer_prices_product_tab_add_button_customer_prices %}
                    <sw-button class="acris-customer-prices-product-tab-field__add-field-action"
                               size="small"
                               @click="onCreateNewCustomerPrice">
                        <sw-icon name="regular-plus-circle-s" small></sw-icon>
                        {{ $tc('acris-customer-prices-product-tab.buttonAddCustomerPrice') }}
                    </sw-button>
                    {% endblock %}
                </template>
            </sw-card-filter>
        </template>
        {% endblock %}

        {% block acris_customer_prices_product_tab_grid_customer_prices %}
        <template #grid>
            <acris-one-to-many-grid v-if="product && customerPrices && customerPrices.total > 0"
                                 :collection="customerPrices"
                                 ref="customerPriceGrid"
                                 :localMode="true"
                                 :columns="customerPriceColumns"
                                 :showSelection="false"
                                 @column-sort="setCustomerPriceSorting"
                                 :sortDirection="customerPriceSortDirection"
                                 :sortBy="customerPriceSortProperty"
                                 :isLoading="isLoading">

                {% block acris_customer_prices_product_tab_grid_columns_product_customer_price_customer_number %}
                <template #column-customer.customerNumber="{ item }">
                    <a @click="onEditCustomerPrice(item)" v-if="item.customer">
                        {{ item.customer.customerNumber }}
                    </a>
                </template>
                {% endblock %}

                {% block acris_customer_prices_product_tab_grid_columns_product_customer_price_customer_email %}
                    <template #column-customer.email="{ item }">
                        <a @click="onEditCustomerPrice(item)" v-if="item.customer">
                            {{ item.customer.email }}
                        </a>
                    </template>
                {% endblock %}

                {% block acris_customer_prices_product_tab_grid_columns_product_customer_price_customer %}
                <template #column-customer="{ item }">
                    <a @click="onEditCustomerPrice(item)" v-if="item.customer">
                        {{ item.customer.firstName }} {{ item.customer.lastName }}
                    </a>
                </template>
                {% endblock %}

                {% block acris_customer_prices_product_tab_grid_columns_product_customer_price_active %}
                    <template #column-active="{ item }">
                        <template>
                            <sw-icon v-if="item.active" name="regular-checkmark-xs" small
                                     class="is--active"></sw-icon>
                            <sw-icon v-else name="small-default-x-line-medium" small class="is--inactive"></sw-icon>
                        </template>
                    </template>
                {% endblock %}

                {% block acris_customer_prices_product_tab_grid_columns_product_customer_price_rules %}
                    <template #column-rules="{ item }">
                        <div v-bind:class="{ 'acris-no-rule' : item.rules.length == 0}">
                            <sw-label
                                    v-for="rule in item.rules"
                                    appearance="default"
                                    size="default">
                                {{ rule.name }}
                            </sw-label>
                        </div>
                    </template>
                {% endblock %}

                {% block acris_customer_prices_product_tab_grid_columns_product_customer_price_acris_prices %}
                <template #column-acrisPrices="{ item, isInlineEdit }">
                    {% block acris_customer_prices_product_tab_grid_columns_acris_prices %}
                    <template v-if="item.acrisPrices && item.acrisPrices.length > 0 && item.acrisPrices[0] && item.acrisPrices[0].price[0]">
                        <a @click="onEditCustomerPrice(item)">{{ $tc('acris-customer-price.list.acrisPricesLabel', 0, { netPrice: item.acrisPrices[0].price[0].net, grossPrice: item.acrisPrices[0].price[0].gross }) }}</a>
                    </template>
                    <template v-else>
                        {{ $tc('acris-customer-price.list.emptyAcrisPrices') }}
                    </template>
                    {% endblock %}
                </template>
                {% endblock %}

                {% block acris_customer_prices_product_tab_grid_columns_actions_customer_prices %}
                <template #actions="{ item }">

                    {% block acris_customer_prices_product_tab_grid_columns_actions_edit_customer_prices %}
                    <sw-context-menu-item @click="onEditCustomerPrice(item)">
                        {{ $tc('acris-customer-prices-product-tab.contextMenuEdit') }}
                    </sw-context-menu-item>
                    {% endblock %}

                    {% block acris_customer_prices_product_tab_grid_columns_actions_delete_customer_prices %}
                    <sw-context-menu-item @click="onDeleteCustomerPrice(item.id)"
                                          variant="danger">
                        {{ $tc('acris-customer-prices-product-tab.contextMenuDelete') }}
                    </sw-context-menu-item>
                    {% endblock %}
                </template>
                {% endblock %}

                {% block acris_customer_prices_product_tab_grid_columns_action_modals_customer_prices %}
                <template #action-modals="{ item }">
                    {% block acris_customer_prices_product_tab_delete_modal_customer_prices %}
                    <sw-modal v-if="showDeleteCustomerPriceModal === item.id"
                              @modal-close="onCloseDeleteCustomerPriceModal"
                              :title="$tc('acris-customer-prices-product-tab.modalTitleDeleteProduct')"
                              variant="small">
                        {% block acris_customer_prices_product_tab_delete_modal_confirm_delete_text_customer_prices %}
                        <p class="sw-product-detail-field__confirm-delete-text">
                            {{ $tc('acris-customer-prices-product-tab.textDeleteProductConfirm') }}
                        </p>
                        {% endblock %}

                        {% block acris_customer_prices_product_tab_delete_modal_footer_customer_prices %}
                        <template #modal-footer>
                            {% block acris_customer_prices_product_tab_delete_modal_cancel_customer_prices %}
                            <sw-button @click="onCloseDeleteCustomerPriceModal"
                                       size="small">
                                {{ $tc('acris-customer-prices-product-tab.buttonCancel') }}
                            </sw-button>
                            {% endblock %}

                            {% block acris_customer_prices_product_tab_delete_modal_confirm_customer_prices %}
                            <sw-button @click="onConfirmDeleteCustomerPrice(item.id)"
                                       variant="danger"
                                       size="small">
                                {{ $tc('acris-customer-prices-product-tab.buttonDelete') }}
                            </sw-button>
                            {% endblock %}
                        </template>
                        {% endblock %}
                    </sw-modal>
                    {% endblock %}
                </template>
                {% endblock %}
            </acris-one-to-many-grid>
        </template>
        {% endblock %}
    </sw-card>
    {% endblock %}

</div>
{% endblock %}
