{% sw_extends '@Storefront/storefront/component/checkout/cart-header.html.twig' %}

{% set orderHasLineItemStatus = page.order and page.order.lineItems|filter(lineItem => lineItem.extensions.state is not null)|length %}

{% block component_checkout_cart_header_product_info %}
    {% if orderHasLineItemStatus %}
        {% set infoColumnClass = 'col-5' %}
    {% endif %}

    <div class="{{ infoColumnClass }} cart-header-info">
        {{ "checkout.cartHeaderInfo"|trans|sw_sanitize }}
    </div>

    {% if orderHasLineItemStatus %}
        {% block component_checkout_cart_header_status %}
            <div class="col-2 cart-header-status">
                {{ "swag-return-management.checkout.cartHeaderStatus"|trans|sw_sanitize }}
            </div>
        {% endblock %}

        <div class="{% if orderHasLineItemStatus %}col-1{% else %}col-2{% endif %} cart-header-quantity">
            {{ "checkout.cartHeaderQuantity"|trans|sw_sanitize }}
        </div>
    {% endif %}
{% endblock %}

{% block component_checkout_cart_header_quantity %}
    {% if not orderHasLineItemStatus %}
        {{ parent() }}
    {% endif %}
{% endblock %}
