{% block b2b_components_employee_delete_modal %}
    {% set type = type ?: 'delete' %}
    {% set titleSnippetKey = "employee-management.employee#{type|capitalize}.title" %}
    {% set deleteSnippetKey = deleteSnippetKey ?: 'global.default.delete' %}
    {% set options = {
        contentId: "b2b-employee-#{type}-modal-content",
        confirmButtonId: "b2b-employee-#{type}-modal-confirm-button",
    } %}

    <div
        id="b2b-employee-{{ type }}-modal"
        class="b2b-employee-delete-modal modal fade"
        tabindex="-1"
        aria-labelledby="b2b-employee-delete-modal-title"
        aria-hidden="true"
        data-b2b-deleter
        data-b2b-deleter-options="{{ options|json_encode() }}"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                {% block b2b_components_employee_delete_modal_header %}
                    <div class="b2b-employee-delete-modal-header modal-header">
                        <h5 class="modal-title" id="b2b-employee-delete-modal-title">
                            {{ titleSnippetKey|trans|sw_sanitize }}
                        </h5>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>
                {% endblock %}

                {% block b2b_components_employee_delete_modal_body %}
                    <div class="b2b-employee-delete-modal-body modal-body">
                        <div id="{{ options.contentId }}" class="b2b-employee-delete-modal-content text-center">
                            <div id="b2b-employee-delete-modal-loading" class="spinner-border" role="status"></div>
                        </div>
                    </div>
                {% endblock %}

                {% block b2b_components_employee_delete_modal_footer %}
                    <div class="b2b-employee-delete-modal-footer modal-footer">
                        <button
                            type="button"
                            id="b2b-employee-delete-modal-cancel-button"
                            class="btn btn-light"
                            data-bs-dismiss="modal"
                        >
                            {{ 'global.default.cancel'|trans|sw_sanitize }}
                        </button>
                        <button
                            type="button"
                            id="{{ options.confirmButtonId }}"
                            class="btn btn-danger"
                        >
                            {{ deleteSnippetKey|trans|sw_sanitize }}
                        </button>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
