{% sw_extends '@Storefront/storefront/component/review/review.html.twig' %}

{% block component_review_main %}
    {% set translateSnippets = {
        snippets: {
            translateTo: 'swag-text-translator.button.translateTo'|trans({'%language%': translateTo})|sw_sanitize,
            revertToOriginal: 'swag-text-translator.button.revertToOriginal'|trans|sw_sanitize,
            translatedFrom: 'swag-text-translator.translatedFrom'|trans|sw_sanitize,
            ourFeedback: 'detail.reviewCommentLabel'|trans|sw_sanitize,
        }
    } %}

    <div data-review-translator="{{ translateSnippets|json_encode }}" class="col">
        {{ parent() }}
    </div>
{% endblock %}

{% block component_review_list_actions %}
    <div class="row align-items-center product-detail-review-actions">
        {% set formAjaxSubmitOptions = {
            replaceSelectors: [".js-review-container"],
            submitOnChange: true
        } %}

        {% block component_review_list_action_language %}
            {{ parent() }}
        {% endblock %}

        {% block component_review_list_action_sortby %}
            {{  parent() }}
        {% endblock %}
    </div>

    {%  block component_review_translate_alert %}
        {% if config('TextTranslator.reviewTranslator.showReviewTranslateOption') %}
            <div class="review-tab-pane-alert-wrapper hidden my-3" hidden="hidden">
                {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                    type: "danger",
                    content: 'Could not translate review. Please try again later'|trans|sw_sanitize
                } %}
            </div>
        {% endif %}
    {% endblock %}

    <hr/>

    {# TODO NEXT-16994 - calculate reviews in current language in list #}
    {% set listReviewsCount = productReviewCount - foreignReviewsCount %}
    {# TODO NEXT-16994 - fix if reviews in foreign language are more than in customer language #}
    {% if listReviewsCount < 0 %}
        {% set listReviewsCount = 0 %}
    {% endif %}

    <p class="text-right product-detail-review-counter">
        {% if (listReviewsCount > 1 and listReviewsCount > reviewsPerListPage) %}
            <small><strong>{{ currentListPage }}</strong> - <strong>{{ reviewsPerListPage }}</strong> {{ "detail.reviewCountBefore"|trans|sw_sanitize }} <strong>{{ listReviewsCount }}</strong> {{ "detail.reviewCountAfter"|trans({'%count%': listReviewsCount })|sw_sanitize }}</small>
        {% elseif listReviewsCount > 0 %} {# TODO (NEXT-16994) fix detail.reviewCountAfter snippet for listReviewsCount = 0#}
            <small><strong>{{ listReviewsCount }}</strong> {{ "detail.reviewCountAfter"|trans({'%count%': listReviewsCount })|sw_sanitize }}</small>
        {% endif %}
    </p>
{% endblock %}

