{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}

{% set scdShowInquiryQuery %}
    {% set ScDB2BInquiry = config('ScDB2BInquiry') %}
    {% set activeRules = context.context.ruleIds %}
    {% set scdRule = ScDB2BInquiry.config.scdRule %}

    {% if ((ScDB2BInquiry.config.ScDInquiryBasketType == "typeActivated" or
        (ScDB2BInquiry.config.ScDInquiryBasketType == "typeProductspecific" and page.product.translated.customFields.scd_activate_inquiry_basket))
        or (scdRule !== null and ScDB2BInquiry.config.ScDInquiryBasketType == "typeRule" and (scdRule in activeRules)))
        and (context.currentCustomerGroup.customFields.scd_customergroup_hideinquiry != true) %}
            {% set scdShowInquiry = true %}
        {% else %}
            {% set scdShowInquiry = false %}
    {% endif %}
{% endset %}

{% block page_product_detail_data_rich_snippet_price_range %}
    {{ scdShowInquiryQuery }}

    {% if scdShowInquiry !== true %}
        {% if context.customer or (not context.customer and ScDB2BInquiry.config.scdHideLoggedOutPrices == null) %}
            {{ parent() }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block page_product_detail_data_rich_snippet_price_currency %}
    {{ scdShowInquiryQuery }}

    {% if scdShowInquiry !== true %}
        {% if context.customer or (not context.customer and ScDB2BInquiry.config.scdHideLoggedOutPrices == null) %}
            {{ parent() }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block page_product_detail_price %}
    {{ scdShowInquiryQuery }}

    {% if scdShowInquiry %}
        <p class="inquiry-price">{{ "scd.inquiryPrice"|trans|sw_sanitize }}</p>
    {% else %}
        {% if context.customer or (not context.customer and (ScDB2BInquiry.config.scdHideLoggedOutPrices == null or ScDB2BInquiry.config.scdHideLoggedOutPrices == false)) %}
            {{ parent() }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block page_product_detail_tax %}
    {{ scdShowInquiryQuery }}

    {% if scdShowInquiry %}
        {% if context.customer or (not context.customer and ScDB2BInquiry.config.scdHideLoggedOutPrices == null) %}
            {{ parent() }}
        {% endif %}
    {% endif %}
{% endblock %}