{% block sw_order_detail_base_general_info_summary_sub_description %}
    <div class="sw-order-general-info__summary-sub-description">
        <span>
            {{ $tc('sw-order.generalTab.info.summary.on') }}
        </span>

        <span>
            {{ order.orderDateTime | date({
                hour: '2-digit',
                minute: '2-digit',
                day: '2-digit',
                month: '2-digit',
                year: 'numeric'
            }) }}</span><span v-if="isOrderEmployee">, {{ $tc('sw-order.generalTab.info.summary.by') }} {{ orderingEmployee.firstName }} {{ orderingEmployee.lastName }}</span>

        <span>
            {{ $tc('sw-order.generalTab.info.summary.with') }}
        </span>

        <span>
            {{ order.transactions.last().paymentMethod.translated.distinguishableName }}
        </span>

        <span v-if="order.deliveries.last()">
            {{ $tc('sw-order.generalTab.info.summary.and') }}
            {{ order.deliveries.last().shippingMethod.translated.name }}
        </span>
    </div>
{% endblock %}
