{% block acris_customer_price_detail %}
<sw-page class="acris-customer-price-detail" v-if="item && defaultCustomCurrency">

    {% block acris_customer_price_detail_smart_bar_header %}
    <template slot="smart-bar-header">
        {% block acris_customer_price_detail_smart_bar_header_title %}
        <h2>{{ $tc('acris-customer-price.detail.textHeadline') }}</h2>
        {% endblock %}
    </template>
    {% endblock %}

    {% block acris_customer_price_detail_smart_bar_actions %}
    <template slot="smart-bar-actions">
        {% block acris_customer_price_detail_smart_bar_actions_cancel %}
        <sw-button :disabled="item.isLoading" :routerLink="{ name: 'acris.customer.price.index' }">
            {{ $tc('acris-customer-price.detail.buttonCancel') }}
        </sw-button>
        {% endblock %}

        {% block acris_customer_price_detail_smart_bar_actions_save %}
        <sw-button-process
            class="acris-customer-price-detail__save-action"
            :isLoading="isLoading"
            :processSuccess="processSuccess"
            variant="primary"
            :disabled="item.isLoading || !item.productId || !item.customerId || customerPriceExist"
            @process-finish="saveFinish"
            @click="onClickSave">
            {{ $tc('acris-customer-price.detail.buttonSave') }}
        </sw-button-process>
        {% endblock %}
    </template>
    {% endblock %}


    {% block acris_customer_price_detail_content %}
    <sw-card-view slot="content">

        {% block acris_customer_price_detail_content_card %}
        <sw-card :isLoading="isLoading" v-if="item"
                 :title="$tc('acris-customer-price.detail.cardGeneral')">

            <sw-alert v-if="customerPriceExist" variant="error">
                {{ $tc('acris-customer-price.detail.customerPriceExistError') }}
            </sw-alert>

            {% block acris_customer_price_detail_product_select %}
            <sw-entity-single-select
                v-model="item.productId"
                entity="product"
                :label="$tc('acris-customer-price.detail.fieldTitleLabelProduct')"
                :helpText="$tc('acris-customer-price.detail.fieldTitleHelpTextProduct')"
                :placeholder="$tc('acris-customer-price.detail.fieldTitlePlaceholderProduct')"
                @change="onProductChange"
                required
                :criteria="productCriteria"
                :context="productSelectContext">

                {% block acris_customer_price_detail_product_variant_label %}
                <template #selection-label-property="{ item }">
                    <sw-product-variant-info :variations="item.variation">
                        {{ item.productNumber }} - {{ item.translated.name || item.name }}
                    </sw-product-variant-info>
                </template>
                {% endblock %}

                {% block acris_customer_price_detail_product_select_result_item %}
                    <template #result-item="{ item, index }">
                        <li is="sw-select-result" v-bind="{ item, index }">
                            {% block acris_customer_price_detail_single_select_base_results_list_result_label %}
                                <span class="sw-select-result__result-item-text">
                              <sw-product-variant-info :variations="item.variation">
                                    {{ item.productNumber }} - {{ item.translated.name || item.name }}
                              </sw-product-variant-info>
                         </span>
                            {% endblock %}

                        </li>
                    </template>
                {% endblock %}
            </sw-entity-single-select>
            {% endblock %}

            {% block acris_customer_price_detail_product_form_link %}
            <sw-container
                columns="1fr"
                v-if="item.productId"
                justify="end"
                class="sw-product-price-form__links acris-customer-price-detail-select-field-link"
            >
                {% block acris_customer_price_detail_product_form_product_link %}
                <router-link
                    :to="{ name: 'sw.product.detail', params: { id: item.productId } }"
                    class="sw-card__quick-link"
                >
                    {{ $tc('acris-customer-price.detail.linkProduct') }} <sw-icon
                        name="regular-long-arrow-right"
                        small
                    />
                </router-link>
                {% endblock %}

            </sw-container>
            {% endblock %}

            {% block acris_customer_price_detail_customer_select %}
                <sw-entity-single-select
                    v-model="item.customerId"
                    entity="customer"
                    @change="onCustomerChange"
                    required
                    :label="$tc('acris-customer-price.detail.fieldTitleLabelCustomer')"
                    :helpText="$tc('acris-customer-price.detail.fieldTitleHelpTextCustomer')"
                    :placeholder="$tc('acris-customer-price.detail.fieldTitlePlaceholderCustomer')">

                    {% block acris_customer_price_detail_customer_variant_label %}
                        <template #selection-label-property="{ item }">
                            {{ item.customerNumber }} - {{ item.email }} - {{ item.firstName }} {{ item.lastName }}
                        </template>
                    {% endblock %}

                    {% block acris_customer_price_detail_customer_select_result_item %}
                        <template #result-item="{ item, index }">
                            <li is="sw-select-result" v-bind="{ item, index }">
                                {% block acris_customer_price_detail_single_select_customer_base_results_list_result_label %}
                                    <span class="sw-select-result__result-item-text">
                                        {{ item.customerNumber }} - {{ item.email }} - {{ item.firstName }} {{ item.lastName }}
                                    </span>
                                {% endblock %}
                            </li>
                        </template>
                    {% endblock %}
                </sw-entity-single-select>
            {% endblock %}

            {% block acris_customer_price_detail_customer_form_link %}
            <sw-container
                columns="1fr"
                v-if="item.customerId"
                justify="end"
                class="sw-product-price-form__links acris-customer-price-detail-select-field-link"
            >
                {% block acris_customer_price_detail_customer_form_customer_link %}
                <router-link
                    :to="{ name: 'sw.customer.detail', params: { id: item.customerId } }"
                    class="sw-card__quick-link"
                >
                    {{ $tc('acris-customer-price.detail.linkCustomer') }} <sw-icon
                        name="regular-long-arrow-right"
                        small
                    />
                </router-link>
                {% endblock %}

            </sw-container>
            {% endblock %}

            {% block acris_customer_price_detail_content_active_checkbox_select %}
                <sw-field v-model="item.active"
                          type="switch"
                          class="acris-customer-price-detail__item_active"
                          :label="$tc('acris-customer-price.detail.fieldTitleLabelActive')"
                          :helpText="$tc('acris-customer-price.detail.fieldTitleHelpTextActive')">
                </sw-field>
            {% endblock %}

            {% block acris_customer_price_detail_base_active_container %}
                <sw-container
                    columns="1fr 1fr"
                    gap="0 32px"
                >

                    {% block acris_customer_price_detail_active_from %}
                        <sw-datepicker
                            v-model="item.activeFrom"
                            class="acris-customer-price-detail-base__field-active-from"
                            date-type="datetime-local"
                            :label="$tc('acris-customer-price.detail.fieldTitleLabelActiveFrom')"
                            :placeholder-text="$tc('acris-customer-price.detail.fieldTitlePlaceholderActiveFrom')"
                        />
                    {% endblock %}

                    {% block acris_customer_price_detail_active_until %}
                        <sw-datepicker
                            v-model="item.activeUntil"
                            class="acris-customer-price-detail-base__field-active-until"
                            date-type="datetime-local"
                            :label="$tc('acris-customer-price.detail.fieldTitleLabelActiveUntil')"
                            :placeholder-text="$tc('acris-customer-price.detail.fieldTitlePlaceholderActiveUntil')"
                        />
                    {% endblock %}

                </sw-container>
            {% endblock %}

            {% block acris_customer_price_detail_content_list_price_type %}
                <sw-select-field
                    :label="$tc('acris-customer-price.detail.inputListPriceTypeLabel')"
                    :placeholder="$tc('acris-customer-price.detail.inputListPriceTypePlaceholder')"
                    :helpText="$tc('acris-customer-price.detail.inputListPriceTypeHelpText')"
                    v-model="item.listPriceType">
                    <option v-for="option in listPriceTypes"
                            :key="option.value"
                            :value="option.value">
                        {{ option.label }}
                    </option>
                </sw-select-field>
            {% endblock %}

        </sw-card>
        {% endblock %}

        {% block acris_customer_price_detail_content_card_conditions %}
            <sw-card :isLoading="isLoading" v-if="item"
                     :title="$tc('acris-customer-price.detail.cardDisplayConditions')">

                {% block acris_customer_price_detail_content_rules %}
                    <sw-entity-many-to-many-select
                        v-if="item && item.rules"
                        :localMode="true"
                        class="acris-customer-price-detail__rules"
                        :label="$tc('acris-customer-price.detail.rulesSelectFieldLabel')"
                        :helpText="$tc('acris-customer-price.detail.rulesSelectFieldHelpText')"
                        :placeholder="$tc('acris-customer-price.detail.rulesSelectFieldPlaceholder')"
                        v-model="item.rules">
                    </sw-entity-many-to-many-select>
                {% endblock %}

            </sw-card>
        {% endblock %}

        {% block sw_product_detail_prices_price_card %}
        <sw-container
            rows="auto"
            columns="100%"
            class="sw-product-detail-context-prices"
        >
            <sw-card
                v-for="(priceGroup, key, index) in priceGroups"
                class="context-price"
                :class="getPriceRuleGroupClass(index)"
                :title="$tc('acris-customer-price.detail.cardAdvancedPrice')"
                :is-loading="isLoading"
                :large="true"
            >

                {% block sw_product_detail_prices_price_card_price_group_grid %}
                <sw-data-grid
                    v-if="priceGroup"
                    :data-source="priceGroup.prices"
                    :columns="pricesColumns"
                    show-settings
                    :show-selection="false"
                    :compact-mode="true"
                >
                    {% block sw_product_detail_prices_price_card_price_group_grid_settings %}
                    <template #additionalSettings>
                        {% block sw_product_detail_prices_price_card_price_group_grid_settings_list_prices %}
                        <sw-switch-field
                            size="medium"
                            :value="showListPrices[priceGroup.customerPriceId] !== false"
                            no-margin-top
                            :label="$tc('sw-product.prices.settingShowListPrices')"
                            @change="onChangeShowListPrices($event, priceGroup.customerPriceId)"
                        />
                        {% endblock %}
                    </template>
                    {% endblock %}

                    {% block sw_product_detail_prices_price_card_price_group_grid_type %}
                    <template
                        slot="column-type"
                        slot-scope="{ item, itemIndex, compact }"
                    >
                        <div class="sw-product-detail-context-prices__type-label">
                            <!-- eslint-disable-next-line vuejs-accessibility/label-has-for -->
                            <label>{{ $tc('sw-product.advancedPrices.advancedListPricePriceLabel') }}</label>
                            <!-- eslint-disable-next-line vuejs-accessibility/label-has-for -->
                            <label v-if="showListPrices[priceGroup.customerPriceId] !== false">
                                {{ $tc('acris-customer-price.detail.advancedListPriceLabel') }}
                            </label>
                            <!-- eslint-disable-next-line vuejs-accessibility/label-has-for -->
                            <label v-if="showListPrices[priceGroup.customerPriceId] !== false">
                                {{ $tc('acris-customer-price.detail.labelRegulationPrice') }}
                            </label>
                        </div>
                    </template>
                    {% endblock %}

                    {% block sw_product_detail_prices_price_card_price_group_grid_quantity_start %}
                    <template
                        slot="column-quantityStart"
                        slot-scope="{ item, itemIndex, compact }"
                    >
                        {% block sw_product_detail_prices_price_card_price_group_grid_quantity_start_field %}
                        <sw-field
                            v-model="item.quantityStart"
                            v-tooltip="getStartQuantityTooltip(itemIndex, item.quantityStart)"
                            type="number"
                            :name="`${item.customerPriceId}-${item.quantityStart}-quantityStart`"
                            validation="required"
                            :min="priceGroup.prices[itemIndex - 1] ? priceGroup.prices[itemIndex - 1].quantityEnd + 1 : 1"
                            :max="item.quantityEnd ? item.quantityEnd : null"
                            :size="compact ? 'small' : 'default'"
                            :disabled="(itemIndex === 0 && item.quantityStart === 1)"
                        />
                        {% endblock %}
                    </template>
                    {% endblock %}

                    {% block sw_product_detail_prices_price_card_price_group_grid_quantity_end %}
                    <template
                        slot="column-quantityEnd"
                        slot-scope="{ item, itemIndex, compact }"
                    >
                        {% block sw_product_detail_prices_price_card_price_group_grid_quantity_end_field %}
                        <sw-field
                            v-model="item.quantityEnd"
                            type="number"
                            :validation="item.quantityEnd === null || item.quantityEnd > item.quantityStart"
                            placeholder="∞"
                            :name="`${item.customerPriceId}-${item.quantityStart}-quantityEnd`"
                            :min="item.quantityStart"
                            :max="priceGroup.prices[itemIndex + 1] ? priceGroup.prices[itemIndex + 1].quantityStart - 1 : null"
                            :size="compact ? 'small' : 'default'"
                            @change="onQuantityEndChange(item, priceGroup)"
                        />
                        {% endblock %}
                    </template>
                    {% endblock %}

                    {% block sw_product_detail_prices_price_card_price_group_grid_currencies_list %}
                    <template
                        v-for="currency in currencies"
                        :slot="`column-price-${currency.isoCode}`"
                        slot-scope="{ item, column, compact }"
                    >
                        <template
                            v-if="showListPrices[priceGroup.customerPriceId] === false"
                        >
                            <div
                                :key="currency"
                                class="product-detail-context-prices__price-field-wrapper"
                            >
                                {% block sw_product_detail_prices_price_card_price_group_grid_currencies_list_inherit_field %}
                                <sw-inheritance-switch
                                    v-if="!currency.isSystemDefault"
                                    class="sw-product-detail-context-prices__inherited-icon"
                                    :is-inherited="isPriceFieldInherited(item, currency)"
                                    @inheritance-restore="onInheritanceRestore(item, currency)"
                                    @inheritance-remove="onInheritanceRemove(item, currency)"
                                />
                                {% endblock %}

                                {% block sw_product_detail_prices_price_card_price_group_grid_currencies_list_price_field %}
                                <sw-price-field
                                    :price="item.price"
                                    :default-price="findDefaultPriceOfRule(item)"
                                    :tax-rate="productTaxRate"
                                    :label="false"
                                    :compact="compact"
                                    :name="`${item.customerPriceId}-${currency.isoCode}-${item.quantityStart}`"
                                    :currency="currency"
                                />
                                {% endblock %}
                            </div>
                        </template>

                        <template v-if="showListPrices[priceGroup.customerPriceId] !== false">
                            <div
                                :key="`else-${currency}`"
                                class="product-detail-context-prices__price-field-wrapper"
                            >
                                <sw-inheritance-switch
                                    v-if="!currency.isSystemDefault"
                                    class="sw-product-detail-context-prices__inherited-icon"
                                    :is-inherited="isPriceFieldInherited(item, currency)"
                                    @inheritance-restore="onInheritanceRestore(item, currency)"
                                    @inheritance-remove="onInheritanceRemove(item, currency)"
                                />
                                <sw-list-price-field
                                    :price="item.price"
                                    :default-price="findDefaultPriceOfRule(item)"
                                    :vertical="true"
                                    :tax-rate="productTaxRate"
                                    :hidePurchasePrices="true"
                                    :label="false"
                                    :compact="compact"
                                    :currency="currency"
                                />
                            </div>
                        </template>
                    </template>
                    {% endblock %}

                    {% block sw_product_detail_prices_price_card_price_group_grid_actions %}
                    <template
                        slot="actions"
                        slot-scope="{ item }"
                    >

                        {% block sw_product_detail_prices_price_card_price_group_grid_actions_delete %}
                        <sw-context-menu-item
                            variant="danger"
                            class="product-detail-context-prices__context-delete"
                            @click="onPriceRuleDelete(item)"
                        >
                            {{ $tc('sw-product.prices.contextMenuDelete') }}
                        </sw-context-menu-item>
                        {% endblock %}

                    </template>
                    {% endblock %}

                </sw-data-grid>
                {% endblock %}

                {% block sw_product_detail_prices_price_card_price_group_empty_state %}
                <div
                    v-else
                    class="sw-product-detail-context-prices__empty-state"
                >

                    {% block sw_product_detail_prices_price_card_price_group_empty_state_warning %}
                    <p>{{ $tc('sw-product.advancedPrices.newRuleWarning') }}</p>
                    {% endblock %}

                </div>
                {% endblock %}

            </sw-card>
        </sw-container>
        {% endblock %}

    </sw-card-view>
    {% endblock %}

</sw-page>
{% endblock %}
