{% sw_extends '@Storefront/storefront/page/account/_page.html.twig' %}

{% block page_account_main_content %}
    {% set employee = page.getEmployee() %}
    {% set defaultRoleId = page.getDefaultRoleId() %}

    {% block b2b_components_employee_create %}
        <div class="b2b-employee-create b2b-create">
            <div class="account-address">
                <div class="account-welcome">
                    <h1 class="b2b-create-title">
                        {% block b2b_components_employee_create_back %}
                            <a
                                href="{{ path('frontend.business-partner.employees.list') }}"
                                class="btn btn-light b2b-create-back align-self-center"
                            >
                                {% sw_icon 'arrow-head-left' style { 'size': 'sm' } %}
                            </a>
                        {% endblock %}

                        <span class="b2b-create-title-text">
                            {% block b2b_components_employee_create_title %}
                                {{ 'employee-management.employeeCreate.title'|trans|sw_sanitize }}
                            {% endblock %}
                        </span>
                    </h1>
                </div>
            </div>

            {% block b2b_components_employee_create_form %}
                <form
                    action="{{ path('frontend.business-partner.employees.create.submit') }}"
                    method="post"
                    class="mt-4 b2b-create-form b2b-create-employee-form"
                >
                    {% block b2b_components_employee_create_form_content %}
                        <div class="row">
                            {% block b2b_components_employee_create_form_content_first_name %}
                                <div class="form-group col-sm-6 b2b-create-form-first-name">
                                    <label class="form-label" for="b2b-create-form-first-name-input">{{ 'employee-management.employeeCreate.labelFirstName'|trans|sw_sanitize }}{{ 'general.required'|trans|sw_sanitize }}</label>
                                    <input
                                        id="b2b-create-form-first-name-input"
                                        name="firstName"
                                        type="text"
                                        placeholder="{{ 'employee-management.employeeCreate.placeholderFirstName'|trans|sw_sanitize }}"
                                        class="form-control{% if formViolations.getViolations('/firstName') is not empty %} is-invalid{% endif %}"
                                        value="{{ employee.firstName }}"
                                    />

                                    {% if formViolations.getViolations('/firstName') is not empty %}
                                        {% sw_include '@Storefront/storefront/utilities/form-violation.html.twig' with {
                                            violationPath: '/firstName'
                                        } %}
                                    {% endif %}
                                </div>
                            {% endblock %}

                            {% block b2b_components_employee_create_form_content_last_name %}
                                <div class="form-group col-sm-6 b2b-create-form-last-name">
                                    <label class="form-label" for="b2b-create-form-last-name-input">{{ 'employee-management.employeeCreate.labelLastName'|trans|sw_sanitize }}{{ 'general.required'|trans|sw_sanitize }}</label>
                                    <input
                                        id="b2b-create-form-last-name-input"
                                        name="lastName"
                                        type="text"
                                        placeholder="{{ 'employee-management.employeeCreate.placeholderLastName'|trans|sw_sanitize }}"
                                        class="form-control{% if formViolations.getViolations('/lastName') is not empty %} is-invalid{% endif %}"
                                        value="{{ employee.lastName }}"
                                    />

                                    {% if formViolations.getViolations('/lastName') is not empty %}
                                        {% sw_include '@Storefront/storefront/utilities/form-violation.html.twig' with {
                                            violationPath: '/lastName'
                                        } %}
                                    {% endif %}
                                </div>
                            {% endblock %}
                        </div>

                        <div class="row">
                            {% block b2b_components_employee_create_form_content_email %}
                                <div class="form-group col-sm-6 col-md-12 b2b-create-form-email">
                                    <label class="form-label" for="b2b-create-form-email-input">{{ 'employee-management.employeeCreate.labelEmail'|trans|sw_sanitize }}{{ 'general.required'|trans|sw_sanitize }}</label>
                                    <input
                                        id="b2b-create-form-email-input"
                                        name="email"
                                        type="email"
                                        placeholder="{{ 'employee-management.employeeCreate.placeholderEmail'|trans|sw_sanitize }}"
                                        class="form-control{% if formViolations.getViolations('/email') is not empty %} is-invalid{% endif %}"
                                        autocomplete="email"
                                        value="{{ employee.email }}"
                                    />

                                    {% if formViolations.getViolations('/email') is not empty %}
                                        {% sw_include '@Storefront/storefront/utilities/form-violation.html.twig' with {
                                            violationPath: '/email'
                                        } %}
                                    {% endif %}
                                </div>
                            {% endblock %}
                        </div>

                        <div class="row">
                            {% block b2b_components_employee_create_form_content_role %}
                                <div class="form-group col-sm-6 col-md-12 b2b-create-form-role-id">
                                    <label class="form-label" for="b2b-create-form-role-id-input">{{ 'employee-management.employeeCreate.labelRole'|trans|sw_sanitize }}</label>
                                    <select
                                        id="b2b-create-form-role-id-input"
                                        name="roleId"
                                        class="form-select{% if formViolations.getViolations('/roleId') is not empty %} is-invalid{% endif %}"
                                    >
                                        {% block b2b_components_employee_create_form_content_role_options %}
                                            {% block b2b_components_employee_create_form_content_role_options_none %}
                                                <option
                                                    class="b2b-create-form-role no-selected-role"
                                                    value=""
                                                    {% if role.id == defaultRoleId %}selected="selected"{% endif %}
                                                >
                                                    {{ 'employee-management.roles.noRoleSelected'|trans|sw_sanitize }}
                                                </option>
                                             {% endblock %}

                                            {% block b2b_components_employee_create_form_content_role_options_all %}
                                                {% for role in page.getAvailableRoles() %}
                                                    <option
                                                        class="b2b-create-form-role"
                                                        value="{{ role.id }}"
                                                        {% if role.id == defaultRoleId %}selected="selected"{% endif %}
                                                    >
                                                        {{ role.name }}
                                                    </option>
                                                {% endfor %}
                                            {% endblock %}
                                        {% endblock %}
                                    </select>
                                </div>
                            {% endblock %}
                        </div>

                        {% block b2b_components_employee_create_form_content_hidden_inputs %}{% endblock %}

                        <p>{{ 'global.default.noteRequiredFields'|trans|sw_sanitize }}</p>

                        <div class="b2b-create-actions">
                            {% block b2b_components_employee_create_form_actions %}
                                <button
                                    type="submit"
                                    class="btn btn-primary b2b-create-actions-save"
                                >
                                    {{ 'global.default.save'|trans|sw_sanitize }}
                                </button>

                                <a
                                    href="{{ path('frontend.business-partner.employees.list') }}"
                                    class="btn btn-outline-secondary b2b-create-actions-cancel"
                                >
                                    {{ 'global.default.cancel'|trans|sw_sanitize }}
                                </a>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </form>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
