{% sw_extends '@Storefront/storefront/page/account/order-history/order-detail-list-item.html.twig' %}

{% set lineItemTemplateType = constant('Swag\\CustomizedProducts\\Core\\Checkout\\CustomizedProductsCartDataCollector::CUSTOMIZED_PRODUCTS_TEMPLATE_LINE_ITEM_TYPE') %}
{% set cover, label, referencedId, referencePrice = null, null, null, null %}
{% set isCustomizedProduct = lineItem.type == lineItemTemplateType %}

{% if isCustomizedProduct %}
    {% for child in lineItem.children %}
        {% if child.type == 'product' %}
            {% set label = child.label %}
            {% set referencedId = child.referencedId %}

            {% if child.cover.url %}
                {% set cover = child.cover %}
            {% endif %}

            {% set referencePrice = child.price %}
        {% endif %}
    {% endfor %}

    {% do lineItem.setLabel(label) %}
    {% do lineItem.setCover(cover) %}
    {% do lineItem.setReferencedId(referencedId) %}
{% endif %}

{% block page_account_order_item_detail_list_item_container %}
    {% if isCustomizedProduct %}
        {% set isNested = false %}
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block page_account_order_item_detail_children_template %}
    {% if isCustomizedProduct %}
        {% set isNested = true %}
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block page_account_order_item_detail_price_value %}
    {% if isCustomizedProduct %}
        <span class="order-item-value order-item-price-value">
            {{ referencePrice.unitPrice|currency }}{{ "general.star"|trans|sw_sanitize }}
        </span>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
