<td class="line-item-breakable">
    {% if level > 0 %}
        {% for i in 1..level %}
            <span class="wrapper-wrapper">
                <span class="label-wrapper level-{{ i }}"></span>
            </span>
        {% endfor %}
    {% endif %}

    <span class="line-item-label level-{{ level }}">
        {{- lineItem.label -}}
        {% if lineItem.payload.value and lineItem.payload.value is not iterable %}
            {{- ': ' -}}{{- lineItem.payload.value|u.truncate(50, '...') -}}
        {% endif %}
    </span>
    {% if lineItem.payload.options|length >= 1 %}
        <br/>
        {% for option in lineItem.payload.options %}
            {{ option.group }}: {{ option.option }}
            {% if lineItem.payload.options|last != option %}
                {{ " | " }}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if lineItem.payload.media|length >= 1 %}
        {% for media in lineItem.payload.media %}
            <br />
            <span class="line-item-label level-{{ level + 1 }}">{{ media.filename|u.truncate(20, '...') }}</span>
        {% endfor %}
    {% endif %}

    {% if lineItem.payload.features|length >=1  %}
        <br/>
        {% for feature in lineItem.payload.features %}
            {% if feature.type == 'referencePrice' %}
                {{ feature.value.purchaseUnit|sw_sanitize }} {{ feature.value.unitName|sw_sanitize }}
                ({{ feature.value.price|currency(currencyIsoCode) }}{{ "general.star"|trans }} / {{ feature.value.referenceUnit|sw_sanitize }} {{ feature.value.unitName|sw_sanitize }})
                {% if lineItem.payload.features|last != feature %}
                    {{ " | " }}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
</td>
