{% sw_extends '@Storefront/storefront/page/account/order-history/order-detail-list-item.html.twig' %}

{% set hasStatus = lineItem.extensions.state is not null %}

{% block page_account_order_item_detail_name %}
    <div class="col-12 {% if orderHasLineItemStatus %}col-md-3{% else %}col-md-4{% endif %} order-item order-item-name">
        {% block page_account_order_item_detail_name_value %}
            {{ parent() }}
        {% endblock %}

        {% block page_account_order_item_detail_variants %}
            {{ parent() }}
        {% endblock %}

        {% block page_account_order_item_detail_unitprice %}
            {{ parent() }}
        {% endblock %}
    </div>

    {% block page_account_order_item_detail_status %}
        {%  if orderHasLineItemStatus %}
            <div class="col-12 col-md-2 order-item order-item-status">
                {% if hasStatus %}
                    {% block page_account_order_item_detail_status_label %}
                        <strong class="order-item-label order-item-status-label">
                            {{ "swag-return-management.account.orderItemColumnStatus"|trans|sw_sanitize }}{{ "account.colonCharacter"|trans|sw_sanitize }}
                        </strong>
                    {% endblock %}

                    {% sw_include '@SwagCommercial/storefront/component/element/status.html.twig' with {
                        'statusName': lineItem.extensions.state.translated.name,
                        'technicalName': lineItem.extensions.state.technicalName
                    } %}
                {% endif %}
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}

{% block page_account_order_item_detail_quantity %}
    <div class="col-12 {% if orderHasLineItemStatus %}col-md-1{% else %}col-md-2{% endif %} order-item order-item-quantity">
        {% if not isChild %}
            {% block page_account_order_item_detail_quantity_label %}
                {{ parent() }}
            {% endblock %}

            {% block page_account_order_item_detail_quantity_value %}
                {{ parent() }}
            {% endblock %}
        {% endif %}
    </div>
{% endblock %}
