<sw-page class="sw-subscription-list">

    <template #search-bar>
        <sw-search-bar
            initial-search-type="subscription"
            :initial-search="term"
            :placeholder="$tc('commercial.subscriptions.subscriptions.listing.searchBarPlaceholder')"
            @search="onSearch"
        />
    </template>

    <template #smart-bar-header>
        <h2>
            {{ $tc('commercial.subscriptions.subscriptions.listing.textSubscriptions') }}
            <span
                v-if="!isLoading"
                class="sw-page__smart-bar-amount"
            >
                ({{ total }})
            </span>
        </h2>
    </template>

    <template #language-switch>
        <sw-language-switch @on-change="onChangeLanguage" />
    </template>

    <template #content>
        <div class="sw-subscription-list__content">
            <sw-data-grid
                ref="subscriptionGrid"
                :data-source="subscriptions ?? []"
                :columns="subscriptionColumns"
                :full-page="true"
                :show-settings="true"
                :show-selection="true"
                :sort-by="currentSortBy"
                :sort-direction="sortDirection"
                :is-loading="isLoading"
                :allow-column-edit="false"
                identifier="sw-subscription-list"
                :disable-data-fetching="true"
                :maximum-select-items="100"
                @column-sort="onSortColumn"
                @page-change="onPageChange"
                @selection-change="updateSelection"
            >
                <template #column-subscriptionNumber="{ item }">
                    <router-link :to="{ name: 'sw.subscription.detail', params: { id: item.id } }">
                        {{ item.subscriptionNumber }}
                    </router-link>
                </template>

                <template #column-subscriptionCustomer.firstName="{ item }">
                    <template v-if="item.subscriptionCustomer?.id">
                        <router-link :to="{ name: 'sw.customer.detail', params: { id: item.subscriptionCustomer.customerId } }">
                            {{ item.subscriptionCustomer.lastName }}, {{ item.subscriptionCustomer.firstName }}
                        </router-link>
                    </template>

                    <template v-else>
                        {{ item.subscriptionCustomer.lastName }}, {{ item.subscriptionCustomer.firstName }}
                    </template>
                </template>

                <template #column-stateMachineState.name="{ item }">
                    <div
                        class="sw-subscription-list__state"
                    >
                        <sw-color-badge
                            :color="getVariantFromSubscriptionState(item)"
                            rounded
                        />

                        {{ item.stateMachineState.translated.name }}
                    </div>
                </template>

                <template #column-nextSchedule="{ item }">
                    <sw-time-ago :date="item.nextSchedule" />
                </template>

                <template #column-createdAt="{ item }">
                    <sw-time-ago :date="item.createdAt" />
                </template>

                <template #actions="{ item }">
                    <sw-context-menu-item
                        class="sw-subscription-list__subscription-view-action"
                        :router-link="{ name: 'sw.subscription.detail', params: { id: item.id } }"
                        :disabled="!acl.can('subscription.viewer')"
                    >
                        {{ $tc('commercial.subscriptions.subscriptions.listing.contextMenuView') }}
                    </sw-context-menu-item>

                    <sw-context-menu-item
                        class="sw-subscription-list__subscription-terminate-action"
                        variant="danger"
                        @click="onTerminate(item)"
                        :disabled="!acl.can('subscription.deleter')"
                    >
                        {{ $tc('commercial.subscriptions.subscriptions.listing.contextMenuTerminate') }}
                    </sw-context-menu-item>
                </template>

                <template #action-modals="{ item }">
                    <sw-modal
                        v-if="toBeTerminatedSubscription?.id === item.id"
                        :title="$tc('global.default.warning')"
                        variant="small"
                        @modal-close="onCloseTerminateModal"
                    >
                        <p class="sw-subscription-list__confirm-terminate-text">
                            {{ $tc('commercial.subscriptions.subscriptions.listing.textTerminateConfirm', 0, { subscriptionNumber: item.subscriptionNumber }) }}
                        </p>

                        <template #modal-footer>
                            <sw-button
                                class="sw-subscription-list__modal__button-cancel"
                                size="small"
                                @click="onCloseTerminateModal"
                            >
                                {{ $tc('commercial.subscriptions.subscriptions.listing.buttonCancel') }}
                            </sw-button>

                            <sw-button
                                class="sw-subscription-list__modal__button-terminate"
                                variant="danger"
                                size="small"
                                @click="onConfirmTerminate(item)"
                            >
                                {{ $tc('commercial.subscriptions.subscriptions.listing.buttonTerminate') }}
                            </sw-button>
                        </template>
                    </sw-modal>
                </template>

                <template #pagination>
                    <sw-pagination
                        :page="page"
                        :limit="limit"
                        :total="total"
                        :total-visible="7"
                        @page-change="onPageChange"
                    />
                </template>
            </sw-data-grid>

            <template v-if="!isLoading && (!subscriptions || subscriptions.length === 0)">
                <sw-empty-state :title="$tc('sw-empty-state.messageNoResultTitle')">
                    <template #icon>
                        <img
                            :src="'/administration/static/img/empty-states/order-empty-state.svg' | asset"
                            :alt="$tc('sw-empty-state.messageNoResultTitle')"
                        >
                    </template>

                    <template #default>
                        {{ $tc('sw-empty-state.messageNoResultSublineBefore') }}
                        <router-link
                            class="sw-empty-state__description-link"
                            :to="{ name: 'sw.profile.index.searchPreferences' }"
                        >
                            {{ $tc('sw-empty-state.messageNoResultSublineLink') }}
                        </router-link>
                        {{ $tc('sw-empty-state.messageNoResultSublineAfter') }}
                    </template>
                </sw-empty-state>
            </template>
        </div>
    </template>
</sw-page>
