{% block layout_navigation_flyout %}
	{% set category = navigationTree.category %}
	{% set name = category.translated.name %}

	{% block layout_navigation_flyout_bar %}
		<div class="row navigation-flyout-bar">
			<div class="col">
				<div class="navigation-flyout-category-link">
					<a class="nav-link" href="{{ category_url(navigationTree.category) }}" itemprop="url" title="{{ navigationTree.category.translated.name }}">
						Zur Kategorie
						{{ navigationTree.category.translated.name }}
						<span class="icon icon-arrow-right icon-primary">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewbox="0 0 16 16">
								<defs>
									<path id="icons-solid-arrow-right" d="M6.7071 6.2929c-.3905-.3905-1.0237-.3905-1.4142 0-.3905.3905-.3905 1.0237 0 1.4142l3 3c.3905.3905 1.0237.3905 1.4142 0l3-3c.3905-.3905.3905-1.0237 0-1.4142-.3905-.3905-1.0237-.3905-1.4142 0L9 8.5858l-2.2929-2.293z"></path>
								</defs>
								<use transform="rotate(-90 9 8.5)" xlink:href="#icons-solid-arrow-right" fill="#758CA3" fill-rule="evenodd"></use>
							</svg>
						</span>
					</a>
				</div>
			</div>

			<div class="col-auto">
				<div class="navigation-flyout-close js-close-flyout-menu">
					<span class="icon icon-x">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewbox="0 0 24 24">
							<defs>
								<path d="m10.5858 12-7.293-7.2929c-.3904-.3905-.3904-1.0237 0-1.4142.3906-.3905 1.0238-.3905 1.4143 0L12 10.5858l7.2929-7.293c.3905-.3904 1.0237-.3904 1.4142 0 .3905.3906.3905 1.0238 0 1.4143L13.4142 12l7.293 7.2929c.3904.3905.3904 1.0237 0 1.4142-.3906.3905-1.0238.3905-1.4143 0L12 13.4142l-7.2929 7.293c-.3905.3904-1.0237.3904-1.4142 0-.3905-.3906-.3905-1.0238 0-1.4143L10.5858 12z" id="icons-default-x"></path>
							</defs>
							<use xlink:href="#icons-default-x" fill="#758CA3" fill-rule="evenodd"></use>
						</svg>
					</span>
				</div>
			</div>
		</div>
	{% endblock %}

	{% block layout_navigation_flyout_content %}
		<div class="row navigation-flyout-content">
			{% block layout_navigation_flyout_categories %}
				<div class="{% if category.media %}col-8 col-xl-9{% else %}col{% endif %}">
					<div class="navigation-flyout-categories">
						{% block layout_navigation_flyout_categories_recoursion %}
							{% sw_include '@Storefront/storefront/layout/navigation/categories.html.twig' with {
                                navigationTree: navigationTree.children,
                                navigationMedia: category.media,
                                page: page
                            } only %}
						{% endblock %}
					</div>
				</div>
			{% endblock %}

			{% block layout_navigation_flyout_teaser %}
				{% if category.media %}
					<div class="col-4 col-xl-3">
						<div class="navigation-flyout-teaser">
							{% block layout_navigation_flyout_teaser_image %}
								<a class="navigation-flyout-teaser-image-container" href="{{ category_url(category) }}" {% if category_linknewtab(category) %} target="_blank" {% if category.linkType == "external" %} rel="noopener noreferrer" {% endif %} {% endif %} title="{{ name }}">
									{% sw_thumbnails 'navigation-flyout-teaser-image-thumbnails' with {
                                    media: category.media,
                                    sizes: {
                                        'default': '310px'
                                    },
                                    attributes: {
                                        'class': 'navigation-flyout-teaser-image',
                                        'alt': (category.media.translated.alt ?: ''),
                                        'title': (category.media.translated.title ?: ''),
                                        'data-object-fit': 'cover'
                                    }
                                } %}
								</a>
							{% endblock %}
						</div>
					</div>
				{% endif %}
			{% endblock %}
		</div>
	{% endblock %}
{% endblock %}
