{% block swag_customized_products_option_type_template_textfield %}
    {% set inConfigurationExtension = configurationExtension.configuration[option.id] %}

    {% set validationOptions = {
        translations: {
            textfield: {
                required: "customizedProducts.optionTypes.textfield.errors.required"|trans,
                min: "customizedProducts.optionTypes.textfield.errors.min"|trans,
                max: "customizedProducts.optionTypes.textfield.errors.max"|trans
            }
        }
    } | json_encode %}

    {% block swag_customized_products_option_type_template_textfield_input %}
        <input type="text"
               id="swag-customized-products-option-id-{{ option.id }}"
               data-swag-customized-products-field-validation="true"
               data-swag-customized-products-field-validation-options="{{ validationOptions }}"
               name="{{ constant('Swag\\CustomizedProducts\\Storefront\\Controller\\CustomizedProductsCartController::CUSTOMIZED_PRODUCTS_TEMPLATE_REQUEST_PARAMETER') }}[options][{{ option.id }}][value]"
               class="form-control swag-customized-products-form-control"
               placeholder="{{ option.translated.placeholder }}"
               minlength="{{ props.minLength }}"
               maxlength="{{ props.maxLength }}"
               {% if inConfigurationExtension %}
               value="{{ inConfigurationExtension.value }}"
               {% endif %}
               {{ option.required ? 'required' : '' }}>
    {% endblock %}

    {% block swag_customized_products_option_type_template_textfield_error%}
        <span class="customized-products-error-subtitle"></span>
    {% endblock %}

{% endblock %}
