{% sw_extends '@Storefront/storefront/page/account/profile/index.html.twig' %}
{% set employeeEdit = constant('Shopware\\Commercial\\B2B\\EmployeeManagement\\Domain\\Permission\\BaseEmployeePermissions::EMPLOYEE_EDIT') %}
{% set employee = context.customer.extensions.b2bEmployee %}

{% block page_account_profile_personal_welcome_intro %}
    {% if not isB2bEmployee() %}
        {{ parent() }}
    {% endif %}
{% endblock %}

 {% block page_account_profile_personal_header %}
     {% if not isB2bEmployee() %}
        {{ parent() }}
     {% endif %}
 {% endblock %}

{% block page_account_profile_personal_form %}
    {% if not isB2bEmployee() %}
        {{ parent() }}
    {% else %}
        {% block b2b_components_profile_form %}
            <form
                id="b2b-employee-profile-form"
                action="{{ path('frontend.employee.profile.submit', { id: employee.id }) }}"
                method="post"
                data-form-validation="true"
            >
                {% sw_include '@Commercial/storefront/page/account/b2b/employee-profile.html.twig' with {
                    'employee': employee,
                    'page': page
                } %}
            </form>
        {% endblock %}
    {% endif %}
{% endblock %}

{% block page_account_profile_credentials %}
    {% if not isB2bEmployee() %}
        {{ parent() }}
    {% endif %}
{% endblock %}
