{% sw_extends '@Storefront/storefront/component/product/card/box-standard.html.twig' %}

{% block component_product_box_image %}
	<div class="product-image-wrapper">
		{{ parent() }}
		{% sw_include '@Storefront/storefront/component/product/card/action-ecentura.html.twig' %}
	</div>
{% endblock %}

{% block component_product_box_info %}
	<div class="product-info">

		{% block component_product_box_name %}
			{{ parent() }}
		{% endblock %}

		{% block component_product_box_description %}
			<div class="product-description">
				{# {{ product.translated.description|striptags|raw }} #}
				{{ product.customFields.migration_Compumess57Live_product_subtitle }}
			</div>
		{% endblock %}

		{% block component_product_box_price %}
			{{ parent() }}
		{% endblock %}

		{% block component_product_box_action %}
			<div class="product--actions">
				{% if config('core.cart.wishlistEnabled') %}
					{% sw_include '@Storefront/storefront/component/product/card/wishlist.html.twig' with {
									appearance: 'circle',
									productId: id
								} %}
				{% endif %}
				<a href="{{ seoUrl('frontend.detail.page', { 'productId': id }) }}#download-tab" class="icon-mail-to">
					<img src="{{ asset('bundles/compumess/assets/download-img.png') }}" alt="Download Image" class="image-dowload-tab">
						Produktblätter                                									
					</a>
					<a href="{{ seoUrl('frontend.detail.page', { 'productId': id }) }}#description-tab" class="icon-mail-to icon--search">
						<i class="fa-solid fa-magnifying-glass"></i>
						Serien- und Modellübersicht                                									
					</a>
					<div class="zum-produkte">
						<a class="btn is--primary" href="{{ seoUrl('frontend.detail.page', { 'productId': id }) }}">
							Zum Produkt                                    										
						</a>
					</div>
				</div>
			{% endblock %}
		</div>
{% endblock %}
    