{% block b2b_components_table_header %}
    <div class="b2b-table-header">
        {% block b2b_components_table_header_search_bar %}
            {% if searchPath %}
                <div class="b2b-table-header-search">
                    <form
                        class="b2b-table-header-search-form"
                        action="{{ searchPath }}"
                        method="get"
                        data-search-widget="true"
                    >
                        <div class="input-group">
                            {% block b2b_components_table_header_search_bar_content %}
                                <input
                                    type="search"
                                    name="search"
                                    class="form-control b2b-table-header-search-input"
                                    autocomplete="off"
                                    autocapitalize="off"
                                    placeholder="{{ "employee-management.tableHeader.searchPlaceholder"|trans|striptags }}"
                                    aria-label="{{ "employee-management.tableHeader.searchPlaceholder"|trans|striptags }}"
                                    value="{{ searchTerm }}"
                                />

                                <button
                                    type="submit"
                                    class="btn header-search-btn b2b-table-header-search-btn"
                                    aria-label="{{ "employee-management.tableHeader.searchButton"|trans|striptags }}"
                                >
                                    {% block b2b_components_table_header_search_bar_content_button %}
                                        <span class="b2b-table-header-search-icon">
                                            {% block b2b_components_table_header_search_bar_content_button_icon %}
                                                {% sw_icon 'search' %}
                                            {% endblock %}
                                        </span>
                                    {% endblock %}
                                </button>
                            {% endblock %}
                        </div>
                    </form>
                </div>
            {% endif %}
        {% endblock %}

        {% block b2b_components_table_header_actions %}
            {% if primaryHref and primaryPlaceholder or secondaryHref and secondaryPlaceholder  %}
                <div class="b2b-table-header-actions">
                    {% block b2b_components_table_header_actions_primary %}
                        {% if primaryHref and primaryPlaceholder %}
                            <a
                                id="b2b-table-header-primary"
                                class="btn btn-primary ms-auto b2b-table-header-actions-primary"
                                href="{{ primaryHref }}"
                            >
                                {{ primaryPlaceholder }}
                            </a>
                        {% endif %}
                    {% endblock %}

                    {% block b2b_components_table_header_actions_secondary %}
                        {% if secondaryHref and secondaryPlaceholder %}
                            <a
                                id="b2b-table-header-secondary"
                                class="btn btn-secondary ms-auto b2b-table-header-action-secondary"
                                href="{{ secondaryHref }}"
                            >
                                {{ secondaryPlaceholder }}
                            </a>
                        {% endif %}
                    {% endblock %}
                </div>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
