<sw-card
    position-identifier="sw-subscription-detail-general-items"
    :title="$tc('commercial.subscriptions.subscriptions.detail.general.itemsCardTitle')"
    class="sw-subscription-detail-general-items"
>
    <template #grid>
        <sw-data-grid
            class="sw-subscription-detail-general-items__data-grid"
            :data-source="order.lineItems"
            :columns="lineItemColumns"
            :is-loading="isLoading"
            :allow-inline-edit="false"
            :allow-column-edit="false"
            :show-selection="false"
            :compact-mode="true"
            show-settings
        >
            <template #column-price.unitPrice="{ item }">
                <span>{{ item.price.unitPrice | currency(subscription.currency.shortName, subscription.itemRounding.decimals) }}</span>
            </template>

            <template #column-price.totalPrice="{ item }">
                <span>{{ item.price.totalPrice | currency(subscription.currency.shortName, subscription.itemRounding.decimals) }}</span>
            </template>

            <template #column-quantity="{ item }">
                <span>{{ item.quantity }} x</span>
            </template>

            <template #column-price.taxRules[0]="{ item }">
                <span
                    v-if="hasMultipleTaxes(item)"
                    v-tooltip="getTooltipTaxDetail(item)"
                    class="sw-subscription-detail-general-items__item-tax-multiple"
                >
                    {{ showTaxValue(item) }}
                </span>

                <span
                    v-else-if="item.price?.taxRules.length"
                    class="sw-subscription-detail-general-items__item-tax-single"
                >
                    {{ showTaxValue(item) }}
                </span>
            </template>

            <template #column-label="{ item }">
                <div
                    v-if="isProductItem(item)"
                    class="sw-subscription-detail-general-items__item-product"
                >
                    <router-link
                        v-if="item.payload && item.payload.options"
                        class="sw-subscription-detail-general-items__item-payload-options"
                        :title="$tc('commercial.subscriptions.subscriptions.detail.general.itemGrid.contextMenuOpenProduct')"
                        :to="{ name: 'sw.product.detail', params: { id: item.productId } }"
                    >
                        <sw-product-variant-info :variations="item.payload.options">
                            <div class="sw-subscription-detail-general-items__item-label">{{ item.label }}</div>
                        </sw-product-variant-info>
                    </router-link>

                    <div v-else class="sw-subscription-detail-general-items__item-payload-options">
                        <span class="sw-subscription-detail-general-items__item-label">{{ item.label }}</span>
                    </div>
                </div>

                <span v-else class="sw-subscription-detail-general-items__item-label">{{ item.label }}</span>
            </template>

            <template #actions="{ item }">
                <sw-context-menu-item
                    :disabled="!isProductItem(item)"
                    :router-link="{ name: 'sw.product.detail', params: { id: item.productId } }"
                >
                    {{ $tc('commercial.subscriptions.subscriptions.detail.general.itemGrid.contextMenuOpenProduct') }}
                </sw-context-menu-item>
            </template>
        </sw-data-grid>
    </template>

    <template #footer>
        <sw-card-section
            class="sw-subscription-detail-general-items__footer"
            divider="top"
            :slim="true"
            v-if="subscription.currency"
        >
            <sw-description-list
                class="sw-subscription-detail-general-items__footer-summary"
                grid="1fr 1fr"
            >
                <dt>{{ $tc('commercial.subscriptions.subscriptions.detail.general.itemSummary.labelAmount') }}</dt>
                <dd>{{ order.price.positionPrice | currency(subscription.currency.translated.shortName, subscription.totalRounding.decimals) }}</dd>

                <template v-if="order.deliveries[0]">
                    <dt>{{ $tc('commercial.subscriptions.subscriptions.detail.general.itemSummary.labelShippingCosts') }}</dt>
                    <dd>{{ order.deliveries[0].shippingCosts.totalPrice | currency(subscription.currency.translated.shortName, subscription.totalRounding.decimals) }}</dd>
                </template>

                <template v-for="(delivery, index) in deliveryDiscounts">
                    <dt :key="`delivery-discount-dt-${index}`">
                        {{ $tc('commercial.subscriptions.subscriptions.detail.general.itemSummary.labelDiscountShippingCosts') }}
                    </dt>
                    <dd :key="`delivery-discount-dd-${index}`">
                        {{ delivery.shippingCosts.totalPrice | currency(subscription.currency.translated.shortName, subscription.totalRounding.decimals) }}
                    </dd>
                </template>

                <template v-if="taxStatus === 'tax-free'">
                    <dt><strong>{{ $tc('commercial.subscriptions.subscriptions.detail.general.itemSummary.labelAmount') }}</strong></dt>
                    <dd><strong>{{ order.price.totalPrice | currency(subscription.currency.translated.shortName, subscription.totalRounding.decimals) }}</strong></dd>
                </template>

                <template v-else>
                    <dt><strong>{{ $tc('commercial.subscriptions.subscriptions.detail.general.itemSummary.labelAmountWithoutTaxes') }}</strong></dt>
                    <dd><strong>{{ order.price.netPrice | currency(subscription.currency.translated.shortName, subscription.totalRounding.decimals) }}</strong></dd>

                    <template v-for="(calculatedTax, index) in sortedCalculatedTaxes">
                        <dt :key="`sorted-calculated-taxes-dt-${index}`">
                            {{ $tc('commercial.subscriptions.subscriptions.detail.general.itemSummary.labelTaxes', 1, { taxRate: calculatedTax.taxRate }) }}
                        </dt>
                        <dd :key="`sorted-calculated-taxes-dd-${index}`">
                            {{ calculatedTax.tax | currency(subscription.currency.translated.shortName, subscription.totalRounding.decimals) }}
                        </dd>
                    </template>

                    <dt><strong>{{ $tc('commercial.subscriptions.subscriptions.detail.general.itemSummary.labelAmountTotal') }}</strong></dt>
                    <dd v-if="displayRounded"><strong>{{ order.price.rawPrice | currency(subscription.currency.shortName, subscription.totalRounding.decimals) }}</strong></dd>
                    <dd v-else><strong>{{ order.price.totalPrice | currency(subscription.currency.shortName, subscription.totalRounding.decimals) }}</strong></dd>

                    <template v-if="displayRounded">
                        <dt><strong>{{ $tc('commercial.subscriptions.subscriptions.detail.general.itemSummary.labelAmountTotalRounded') }}</strong></dt>
                        <dd><strong>{{ order.price.totalPrice | currency(subscription.currency.shortName, subscription.totalRounding.decimals) }}</strong></dd>
                    </template>
                </template>
            </sw-description-list>
        </sw-card-section>
    </template>
</sw-card>
