{% block layout_search_suggest_result_completion_header %}
	<div class="row align-items-center">
		<div class="col">
			<span class="suggest-result-header">{{ "general.completion"|trans }}</span>
		</div>
	</div>
{% endblock %}

{% block layout_search_suggest_result_completion_listing %}
	<ul class="suggest-product-listing">
		{% for completion in completions %}
			<li class="search-suggest-item js-result px-2">
				<a href="{{ path('frontend.search.page') }}?search={{ completion }}"
                   title="{{ completion }}"
                   class="search-suggest-product-link search-suggest-product-name"
                >
					{{ completion }}
				</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
