{% block layout_search_suggest_result_category_header %}
	<div class="row align-items-center">
		<div class="col">
			<span class="suggest-result-header">{{ "general.manufacturer"|trans }}</span>
		</div>
	</div>
{% endblock %}

{% block layout_search_suggest_result_manufacture_listing %}
	<ul class="suggest-product-listing">
		{% for manufacturer in manufacturers %}
			<li class="search-suggest-item js-result px-2">
				<a href="{{ path('frontend.search.page') }}?search={{ manufacturer.translated.name }}"
                   title="{{ manufacturer.translated.name }}"
                   class="search-suggest-product-link search-suggest-product-name"
                >
					{{ manufacturer.translated.name }}
				</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
