{% block swag_customized_products_option_type_template_fileupload %}

    {% set errorTranslations = {
        422: 'customizedProducts.optionTypes.upload.errors.fileCount' | trans,
        406: 'customizedProducts.optionTypes.upload.errors.fileType' | trans,
        413: 'customizedProducts.optionTypes.upload.errors.fileSize' | trans,
        'generic': 'customizedProducts.optionTypes.upload.errors.generic' | trans
    } | json_encode %}

    <div class="customized-products-upload"
         data-swag-customized-products-file-upload="true"
         data-swag-customized-products-file-upload-options="{{ uploadProperties }}"
         data-swag-customized-products-file-upload-translation-errors="{{ errorTranslations }}">

        {% block swag_customized_products_option_type_template_fileupload_dropzone %}
            <div id="customized-products-dropzone-{{ optionId }}"
                 class="customized-products-upload__dropzone">

                {% block swag_customized_products_option_type_template_fileupload_dropzone_container %}
                    <div class="container">
                        <div class="customized-products-upload__dropzone-row row">

                            {% block swag_customized_products_option_type_template_fileupload_dropzone_container_cols %}
                                {% block swag_customized_products_option_type_template_fileupload_dropzone_content %}
                                    <div class="customized-products-upload__dropzone-col col">

                                        {% block swag_customized_products_option_type_template_fileupload_dropzone_icon %}
                                            <div class="customized-products-upload__dropzone-icon">

                                                {% block swag_customized_products_option_type_template_fileupload_dropzone_icon_content %}
                                                    {% sw_icon 'cloud-upload' style { 'size': 'xs' } %}
                                                {% endblock %}
                                            </div>
                                        {% endblock %}

                                        {% block swag_customized_products_option_type_template_fileupload_dropzone_text %}
                                            <div class="customized-products-upload__dropzone-text">

                                                {% block swag_customized_products_option_type_template_fileupload_dropzone_text_headline %}
                                                    <span class="customized-products-upload__dropzone-text-headline">
                                                        {{ 'customizedProducts.optionTypes.upload.dropzoneHeadlineText'|trans }}
                                                    </span>
                                                {% endblock %}

                                                {% block swag_customized_products_option_type_template_fileupload_dropzone_restrictions %}
                                                    <span class="customized-products-upload__dropzone-text-restrictions small">
                                                        {{ 'customizedProducts.optionTypes.upload.dropzoneRestrictionsText'|trans({
                                                            '%maxCount%': option.typeProperties.maxCount,
                                                            '%maxFileSize%': option.typeProperties.maxFileSize
                                                        }) }}
                                                    </span>
                                                {% endblock %}

                                            </div>
                                        {% endblock %}

                                    </div>
                                {% endblock %}

                                {% block swag_customized_products_option_type_template_fileupload_dropzone_browse %}
                                    <div class="customized-products-upload__dropzone-button col-4">

                                        {% block swag_customized_products_option_type_template_fileupload_dropzone_browse_button %}
                                            <button id="customized-products-browse-{{ optionId }}"
                                                    class="btn btn-outline-secondary btn-sm"
                                                    tabindex="-1">
                                                {{ 'customizedProducts.optionTypes.upload.dropzoneBrowseButton'|trans }}
                                            </button>
                                        {% endblock %}

                                    </div>
                                {% endblock %}
                            {% endblock %}

                        </div>
                    </div>
                {% endblock %}

                {% block swag_customized_products_option_type_template_fileupload_dropzone_input %}
                    <input id="customized-products-dropzone-input-{{ optionId }}"
                           class="form-control swag-customized-products-option-type-template-fileupload swag-customized-products-form-control"
                           type="file"
                           accept="{{ inputAccept }}"
                           hidden
                           {% if inputMultiple %}multiple{% endif %}
                           {% if inputRequired %}data-required="true"{% endif %}>
                {% endblock %}

            </div>
        {% endblock %}

        {% block swag_customized_products_option_type_template_fileupload_files %}
            <div class="customized-products-upload-files">
                {% sw_include customizedProductsOptionTemplatePrefix ~ 'fileupload/template-file.html.twig' %}
            </div>
        {% endblock %}

        {% sw_include customizedProductsOptionTemplatePrefix ~ 'fileupload/template-icons.html.twig' %}
    </div>
{% endblock %}
