{% block publisher_draft_modal %}
    <sw-modal
        class="publisher-draft-modal"
        :title="modalTitle"
        variant="large"
        @modal-close="onModalClose"
    >
        {% block publisher_draft_modal_list %}
        <template>
            <div class="publisher-draft-modal__list">

                {% block publisher_draft_modal_list_header %}
                <div class="publisher-draft-modal__list-header">
                    <sw-simple-search-field
                        :placeholder="$tc('publisher.listing.modal.placeholderSearch')"
                        :value="term"
                        @search-term-change="onSearchTermChange"
                    ></sw-simple-search-field>

                    <sw-field
                        type="select"
                        name="sortType"
                        :label="$tc('sw-cms.sorting.labelSort')"
                        :value="sortingConCat"
                        @change="onSortingChange"
                        aside
                    >
                        <option
                            v-for="sortOption in sortOptions"
                            :value="sortOption.value"
                        >
                            {{ sortOption.name }}
                        </option>
                    </sw-field>

                    <div class="publisher-draft-modal__list-header--listing-mode" @click="onListModeChange">
                        <sw-icon name="regular-view-normal" size="16" v-if="listMode === 'grid'"></sw-icon>
                        <sw-icon name="regular-view-grid" size="16" v-if="listMode === 'list'"></sw-icon>
                    </div>
                </div>
                {% endblock %}

                <sw-loader v-if="isLoading"></sw-loader>

                <div
                    v-else-if="!isLoading && !drafts.length"
                    class="publisher-draft-modal__list-whitespace"
                >
                    {{ $tc('publisher.listing.modal.whitespace') }}
                </div>

                {% block publisher_draft_modal_list_mode_grid %}
                <div
                    v-else-if="listMode === 'grid'"
                    class="publisher-draft-modal__list-content--grid"
                >
                    <sw-cms-list-item
                        v-for="(draft, index) in drafts"
                        :class="'sw-cms-list-item--' + index"
                        :page="draft"
                        :key="draft.id"
                        @item-click="onListItemClick(draft)"
                    >
                        <sw-context-button
                            slot="contextMenu"
                            class="sw-cms-list-item__options"
                        >
                            <sw-context-menu-item
                                class="sw-cms-list-item__option-preview"
                                :disabled="!acl.can('cms.editor') || !acl.can('cms_page_draft:update')"
                                @click="onPreviewChange(draft)"
                            >
                                {{ $tc('sw-cms.components.cmsListItem.addPreviewImage') }}
                            </sw-context-menu-item>

                            <sw-context-menu-item
                                v-if="draft.previewMediaId"
                                class="sw-cms-list-item__option-preview"
                                variant="danger"
                                :disabled="!acl.can('cms.editor') || !acl.can('cms_page_draft:update')"
                                @click="onPreviewImageRemove(draft)"
                            >
                                {{ $tc('sw-cms.components.cmsListItem.removePreviewImage') }}
                            </sw-context-menu-item>

                            <sw-context-menu-item
                                :disabled="!acl.can('cms.creator') || !acl.can('cms_page_draft:create')"
                                class="sw-cms-list-item__option-duplicate"
                                @click="onDuplicate(draft)"
                            >
                                {{ $tc('sw-cms.components.cmsListItem.duplicate') }}
                            </sw-context-menu-item>

                            <sw-context-menu-item
                                v-if="!draft.cmsPage.locked"
                                class="sw-cms-list-item__option-delete"
                                variant="danger"
                                :disabled="draft.cmsPage.categories.length > 0 || !acl.can('cms_page_draft:delete')"
                                v-tooltip="deleteDisabledToolTip(draft.cmsPage)"
                                @click="onDeleteDraft(draft)"
                            >
                                {{ $tc('global.default.delete') }}
                            </sw-context-menu-item>
                        </sw-context-button>

                    </sw-cms-list-item>
                </div>
                {% endblock %}

                {% block publisher_draft_modal_list_mode_listing %}
                <div v-else-if="listMode === 'list'">
                    <sw-data-grid
                        class="sw-cms-list__list-data-grid"
                        identifier="sw-cms-list"
                        :isLoading="isLoading"
                        :dataSource="drafts"
                        :columns="columnConfig"
                        :skeletonItemAmount="limit"
                        :allowInlineEdit="false"
                        :allowColumnEdit="false"
                        :showSettings="false"
                        :showSelection="false"
                        :compactMode="false"
                    >
                        <template #column-name="{ item }">
                            <a
                                @click="onListItemClick(item)"
                                class="router-link publisher__custom-link"
                            >
                                {{ item.name }}
                            </a>
                        </template>

                        <template #column-author="{ item }">
                            {{ item.user.firstName }} {{ item.user.lastName }}
                        </template>

                        <template #column-createdAt="{ item }">
                            {{ item.createdAt | date({ hour: '2-digit', minute: '2-digit' }) }}
                        </template>

                        <template #actions="{ item }">
                            <sw-context-menu-item
                                class="sw-cms-list-item__option-preview"
                                :disabled="!acl.can('cms.editor')"
                                @click="onPreviewChange(item)"
                            >
                                {{ $tc('sw-cms.components.cmsListItem.addPreviewImage') }}
                            </sw-context-menu-item>

                            <sw-context-menu-item
                                v-if="item.previewMediaId"
                                class="sw-cms-list-item__option-preview"
                                variant="danger"
                                :disabled="!acl.can('cms.editor')"
                                @click="onPreviewImageRemove(item)"
                            >
                                {{ $tc('sw-cms.components.cmsListItem.removePreviewImage') }}
                            </sw-context-menu-item>

                            <sw-context-menu-item
                                :disabled="!acl.can('cms.creator')"
                                class="sw-cms-list-item__option-duplicate"
                                @click="onDuplicate(item)"
                            >
                                {{ $tc('global.default.duplicate') }}
                            </sw-context-menu-item>

                            <sw-context-menu-item
                                v-if="!item.cmsPage.locked"
                                class="sw-cms-list-item__option-delete"
                                variant="danger"
                                :disabled="item.cmsPage.categories.length > 0 || !acl.can('cms_page_draft:delete')"
                                v-tooltip="deleteDisabledToolTip(item.cmsPage)"
                                @click="onDeleteDraft(item)"
                            >
                                {{ $tc('global.default.delete') }}
                            </sw-context-menu-item>
                        </template>
                    </sw-data-grid>
                </div>
                {% endblock %}

                <sw-pagination
                    v-if="total > limit"
                    :page="paginationPage"
                    :limit="limit"
                    :total="total"
                    :steps="[5, 10, 25, 50]"
                    @page-change="onPageChange"
                ></sw-pagination>
            </div>
        </template>
        {% endblock %}

        {% block publisher_draft_modal_footer %}
        <template #modal-footer>
            <sw-button @click="onModalClose">{{ $tc('global.default.cancel') }}</sw-button>
        </template>
        {% endblock %}

        {% block publisher_draft_modal_delete_modal %}
        <sw-modal
            v-if="showDeleteModal"
            @modal-close="onCloseDeleteModal"
            :title="$tc('global.default.warning')"
            variant="small"
        >
            <div class="sw_tree__confirm-delete-text">
                {{
                    $tc('sw-cms.components.cmsListItem.modal.textDeleteConfirm', 0,
                    { pageName: currentDraft.name || currentDraft.name } )
                }}
            </div>

            <template slot="modal-footer">
                <sw-button
                    @click="onCloseDeleteModal"
                    size="small"
                >
                    {{ $tc('sw-cms.components.cmsListItem.modal.buttonCancel') }}
                </sw-button>

                <sw-button
                    @click="onConfirmDraftDelete"
                    variant="danger"
                    size="small"
                >
                    {{ $tc('sw-cms.components.cmsListItem.modal.buttonDelete') }}
                </sw-button>
            </template>
        </sw-modal>
        {% endblock %}

        {% block publisher_draft_modal_media_modal %}
        <sw-media-modal-v2
            variant="regular"
            v-if="showMediaModal"
            :caption="$tc('sw-cms.components.cmsListItem.modal.captionMediaUpload')"
            :entityContext="'cms_page'"
            :allowMultiSelect="false"
            @media-modal-selection-change="onPreviewImageChange"
            @modal-close="onCloseMediaModal"
        ></sw-media-modal-v2>
        {% endblock %}
    </sw-modal>
{% endblock %}
