<sw-card
    position-identifier="sw-subscription-detail-general-info"
    class="sw-subscription-detail-general-info"
    :title="$tc('commercial.subscriptions.subscriptions.detail.general.infoCardTitle')"
>
    <div class="sw-subscription-detail-general-info__summary">
        <div class="sw-subscription-detail-general-info__summary-main">
            <div class="sw-subscription-detail-general-info__summary-main-header">
                {{ summary }}
            </div>
            <div class="sw-subscription-detail-general-info__summary-main-total">
                {{ totalPrice | currency(currencyName, totalRounding) }}
            </div>
        </div>
        <div class="sw-subscription-detail-general-info__summary-sub">
            <div class="sw-subscription-detail-general-info__summary-sub-created">
                {{ summarySubCreated }}
            </div>

            <div class="sw-subscription-detail-general-info__summary-sub-updated">
                {{ summarySubUpdated }}
            </div>
        </div>
    </div>

    <div class="sw-subscription-detail-general-info__state">
        <sw-order-state-select-v2
            class="sw-subscription-detail-general-info__state-subscription"
            state-type="subscription"
            rounded-style
            :transition-options="transitionOptions"
            :background-style="stateBackgroundStyle"
            :placeholder="statePlaceholder"
            @state-select="onStateSelected"
        />

        <div class="sw-subscription-detail-general-info__state-description">
            {{ stateDescription }}
        </div>
    </div>

    <sw-container
        columns="1fr 1fr"
        gap="0px 32px"
        class="sw-subscription-detail-general-info__subscription"
    >
        <sw-field
            class="sw-subscription-detail-general-info__subscription-plan"
            type="text"
            :label="$tc('commercial.subscriptions.subscriptions.detail.general.planLabel')"
            :value="subscriptionPlanName"
            disabled
        />

        <sw-field
            class="sw-subscription-detail-general-info__subscription-interval"
            type="text"
            :value="subscriptionIntervalName"
            :label="$tc('commercial.subscriptions.subscriptions.detail.general.intervalLabel')"
            disabled
        />
    </sw-container>

    <sw-entity-tag-select
        class="sw-subscription-detail-general-info__tags"
        size="small"
        :entity-collection="subscription.tags"
        :placeholder="$tc('commercial.subscriptions.subscriptions.detail.general.tagsPlaceholder')"
        :always-show-placeholder="true"
        @item-add="onTagAdd"
        @item-remove="onTagRemove"
        :disabled="!acl.can('subscription.editor')"
    />
</sw-card>
