{% block component_offcanvas_cart_item_inner %}
    {% if product.id != "" %}
        {% set ScDB2BInquiry = config('ScDB2BInquiry') %}

        {% set scdShowPrice = false %}
        {% set price = product.price %}
        {% set label = product.label %}
        {% set id = product.id %}

        {% block component_offcanvas_cart_inquiry_item_container %}
            <div class="cart-item cart-item-product">
                <div class="row cart-item-row">
                    {% block component_offcanvas_product_inquiry_image %}
                        <div class="col-auto">
                            {% block component_offcanvas_product_inquiry_image_inner %}
                                <div class="cart-item-img">
                                    <a href="{{ seoUrl('frontend.detail.page', {'productId': product.id}) }}"
                                       class="cart-item-img-link"
                                       title="{{ label }}">
                                        {% if product.mediaId != "" %}
                                            {% set media = searchMedia([product.mediaId], context.context) %}
                                            {% set coverMedia = media.get(product.mediaId) %}
                                            {% sw_thumbnails 'cart-item-img-thumbnails' with {
                                                media: coverMedia,
                                                sizes: {
                                                    'default': '100px'
                                                },
                                                attributes: {
                                                    'class': 'img-fluid cart-item-img-source',
                                                    'alt': label,
                                                    'title': label
                                                }
                                            } %}
                                        {% else %}
                                            {% sw_icon 'placeholder' style {
                                                'size': 'fluid'
                                            } %}
                                        {% endif %}
                                    </a>
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block component_offcanvas_product_inquiry_details %}
                        <div class="col-7 cart-item-details">
                            {% block component_offcanvas_product_inquiry_details_inner %}
                                <div class="cart-item-details-container">
                                    {% block component_offcanvas_product_inquiry_label %}
                                        <div class="cart-item-details">
                                            {% if type == 'product' %}
                                                <a href="{{ seoUrl('frontend.detail.page', {'productId': product.id}) }}"
                                                   class="cart-item-label"
                                                   title="{{ label }}">
                                                    {{ product.quantity }}{{ "checkout.quantityTimes"|trans|sw_sanitize }} {{ label|u.truncate(60, '...', false) }}
                                                </a>
                                            {% else %}
                                                <div class="cart-item-label">
                                                    {{ label|u.truncate(60, '...', false) }}
                                                </div>
                                            {% endif  %}
                                        </div>
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block component_offcanvas_product_inquiry_remove %}
                        <div class="col-2 cart-item-remove">
                            <form action="{{ path('frontend.inquiry.remove') }}"
                                  method="post"
                                  data-form-csrf-handler="true">

                                <input type="hidden" name="productNumber" value="{{ product.productNumber }}"/>
                                <input type="hidden" name="currentUrl" value="{{ app.request.uri }}"/>

                                {% block page_checkout_item_inquiry_remove_redirect %}
                                    <input type="hidden"
                                           name="redirectTo"
                                           value="frontend.checkout.cart.page">
                                {% endblock %}

                                {% block page_checkout_item_inquiry_remove_submit %}
                                    <button type="submit"
                                            title="{{ "checkout.removeLineItem"|trans|striptags }}"
                                            class="btn btn-light btn-sm cart-item-remove-button">
                                        {% sw_icon 'x' style { 'size': 'sm' } %}
                                    </button>
                                {% endblock %}
                            </form>
                        </div>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}
