{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-cart.html.twig' %}

{% block component_offcanvas_cart_actions_promotion %}
	{{ parent() }}

	{% set scdInquiryBasket = app.session.get('scdInquiryBasket') %}
	{% if scdInquiryBasket|length > 0 %}
		<p class="h4 inquiry-main-header">
			{{ "scd.inquiryHeader"|trans|sw_sanitize }}
		</p>

		<div class="offcanvas-cart-items">
			{% for product in scdInquiryBasket %}
				{% if product != null %}
					{% block component_offcanvas_cart_item_inquiry %}
						{% sw_include '@Storefront/storefront/component/checkout/offcanvas-inquiry-item.html.twig' %}
					{% endblock %}
				{% endif %}
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}

{% block component_offcanvas_cart_empty %}
	{% set ScDB2BInquiry = config('ScDB2BInquiry') %}

	{% if ScDB2BInquiry.config.scdInquiryBasketActive != "true" %}
		{{ parent() }}
	{% endif %}
{% endblock %}

{% block component_offcanvas_cart_header %}
	{% set ScDB2BInquiry = config('ScDB2BInquiry') %}

	{% if ScDB2BInquiry.config.scdInquiryBasketActive != "true" %}
		{{ parent() }}
	{% endif %}
{% endblock %}

{% block component_offcanvas_cart_actions_cart %}
	{% if page.cart.lineItems|length > 0 %}
		<div class="d-grid">
			<a href="{{ path('frontend.checkout.cart.page') }}" class="btn btn-link" title="{{ "checkout.proceedToCart"|trans|striptags }}">
				{{ "checkout.proceedToCart"|trans|sw_sanitize }}
			</a>
		</div>
	{% endif %}

	{% set scdInquiryBasket = app.session.get('scdInquiryBasket') %}
	{% if scdInquiryBasket|length > 0 %}
		<div class="d-grid">
			<a href="{{ path('frontend.checkout.cart.page') }}" class="btn btn-link" title="{{ "scd.proceedToOffercart"|trans|striptags }}">
				{{ "scd.proceedToOffercart"|trans|sw_sanitize }}
			</a>
		</div>
	{% endif %}
{% endblock %}
