{% block page_checkout_inquiry_item %}
	{% set ScDB2BInquiry = config('ScDB2BInquiry') %}
	{% set scdShowPrice = false %}

	{% block page_checkout_inquiry_item_container %}
		<div class="cart-item cart-item-product">
			<div class="row cart-item-row">
				{% block page_checkout_inquiry_item_info %}
					<div class="{% if inquiryModal != true %}col-10 col-md-8{% else %}col-12{% endif %} cart-item-info">
						{% block page_checkout_inquiry_item_info_inner %}
							<div class="row cart-item-row">
								{% block page_checkout_inquiry_item_info_image %}
									<div class="col-auto cart-item-info-img">
										{% block page_checkout_inquiry_item_info_image_container %}
											<div class="cart-item-img-container">
												{% block page_checkout_inquiry_item_info_image_link %}
													<a href="{{ seoUrl('frontend.detail.page', {'productId': product.id}) }}" class="cart-item-img-link" title="{{ product.label }}">
														{% block page_checkout_inquiry_item_info_image_element %}
															{% if product.mediaId != "" %}
																{% set media = searchMedia([product.mediaId], context.context) %}
																{% set coverMedia = media.get(product.mediaId) %}
																{% sw_thumbnails 'cart-item-img-thumbnails' with {
                                                                    media: coverMedia,
                                                                    sizes: {
                                                                        'default': '100px'
                                                                    },
                                                                    attributes: {
                                                                        'class': 'img-fluid cart-item-img',
                                                                        'alt': (lineItem.cover.translated.alt ?: ''),
                                                                        'title': (lineItem.cover.translated.title ?: '')
                                                                    }
                                                                } %}
															{% else %}
																{% sw_icon 'placeholder' style {
                                                                    'size': '100px'
                                                                } %}
															{% endif %}
														{% endblock %}
													</a>
												{% endblock %}
											</div>
										{% endblock %}
									</div>
								{% endblock %}

								{% block page_checkout_item_info_details %}
									<div class="col cart-item-details">

										{% block page_checkout_item_info_details_inner %}
											<div class="cart-item-details-container">

												{% block page_checkout_inquiry_item_info_label %}
													<a href="{{ seoUrl('frontend.detail.page', {'productId': product.id}) }}" class="cart-item-label" title="{{ product.label }}">
														{{ product.label|u.truncate(60, '...', false) }}
													</a>
												{% endblock %}

												{% block page_checkout_inquiry_item_info_ordernumber %}
													{% if product.productNumber %}
														<div class="cart-item-ordernumber">
															{{ "checkout.cartItemInfoId"|trans|sw_sanitize }}
															{{ product.productNumber }}
														</div>
													{% endif %}
												{% endblock %}

												{% block page_checkout_item_wishlist %}
													{% if config('core.cart.wishlistEnabled') %}
														{% sw_include '@Storefront/storefront/component/product/card/wishlist.html.twig' with {
                                                            showText: true,
                                                            size: 'sm',
                                                            productId: product.id
                                                        } %}
													{% endif %}
												{% endblock %}
											</div>
										{% endblock %}
									</div>
								{% endblock %}
							</div>
						{% endblock %}
					</div>
				{% endblock %}

				{% block page_checkout_inquiry_item_quantity %}
					{% if inquiryModal != true %}
						<div class="col-12 col-sm-4 col-md-2 cart-item-quantity">
							<div class="row cart-item-quantity-row">

								{% block page_checkout_inquiry_item_quantity_select %}
									<div class="col-4 col-sm-12">
										{% block page_checkout_inquiry_item_quantity_form %}
											<form action="{{ path('frontend.inquiry.changequantity') }}" class="cart-item-quantity-container" method="post" data-form-auto-submit="true">

												<input type="hidden" name="currentUrl" value="{{ app.request.uri }}"/>
												<input type="hidden" name="productNumber" value="{{ product.productNumber }}"/>
												<input type="hidden" name="id" value="{{ product.id }}"/>
												<input type="hidden" name="label" value="{{ product.label }}"/>
												<input type="hidden" name="mediaId" value="{{ product.cover.media.id }}"/>

												{% block page_checkout_inquiry_item_quantity_redirect %}
													<input type="hidden" name="redirectTo" value="frontend.checkout.cart.page">
												{% endblock %}

												{% block page_product_detail_buy_quantity %}
													<select name="quantity" class="form-select quantity-select">
														{% for quantity in range(1,200) %}
															<option value="{{ quantity }}" {% if quantity == product.quantity %} selected="selected" {% endif %}>
																{{ quantity }}
															</option>
														{% endfor %}
													</select>
												{% endblock %}
											</form>
										{% endblock %}
									</div>
								{% endblock %}
							</div>
						</div>
					{% endif %}
				{% endblock %}

				{% block page_checkout_inquiry_item_remove %}
					{% if inquiryModal != true %}
						<div class="col-2 col-md-1 cart-item-remove">
							{% block page_checkout_inquiry_item_remove_form %}
								<form action="{{ path('frontend.inquiry.remove') }}" method="post" data-form-csrf-handler="true">

									<input type="hidden" name="productNumber" value="{{ product.productNumber }}"/>
									<input type="hidden" name="currentUrl" value="{{ app.request.uri }}"/>

									{% block page_checkout_item_remove_redirect %}
										<input type="hidden" name="redirectTo" value="frontend.checkout.cart.page">
									{% endblock %}

									{% block page_checkout_item_remove_submit %}
										<button type="submit" title="{{ "checkout.removeLineItem"|trans|striptags }}" class="btn btn-light btn-sm cart-item-remove-button">
											{% sw_icon 'x' style { 'size': 'sm' } %}
										</button>
									{% endblock %}
								</form>
							{% endblock %}
						</div>
					{% endif %}
				{% endblock %}
			</div>
		</div>
	{% endblock %}
{% endblock %}
