{% set filterItemId = 'filter-' ~ name ~ '-' ~ random() %}
{% if filterRangeActiveMinLabel is not defined %}
  {% set filterRangeActiveMinLabel = 'listing.filterRangeActiveMinLabel'|trans({'%displayName%': displayName})|sw_sanitize %}
{% endif %}
{% if filterRangeActiveMaxLabel is not defined %}
  {% set filterRangeActiveMaxLabel = 'listing.filterRangeActiveMaxLabel'|trans({'%displayName%': displayName})|sw_sanitize %}
{% endif %}
{% if filterRangeErrorMessage is not defined %}
  {% set filterRangeErrorMessage = 'listing.filterRangeErrorMessage'|trans|sw_sanitize %}
{% endif %}
{% if filterRangeLowerBoundErrorMessage is not defined %}
  {% set filterRangeLowerBoundErrorMessage = 'listing.filterRangeLowerBoundErrorMessage'|trans({'%lowerBound%': lowerBound})|sw_sanitize %}
{% endif %}
{% if minKey is not defined %}
  {% set minKey = "min-price" %}
{% endif %}
{% if maxKey is not defined %}
  {% set minKey = "max-price" %}
{% endif %}
{% if unit is not defined %}
  {% set unit = page.header.activeCurrency.symbol %}
{% endif %}
{% if currencySymbol is not defined %}
  {% set currencySymbol = page.header.activeCurrency.symbol %}
{% endif %}
{% if minInputValue is not defined %}
  {% set minInputValue = 0 %}
{% endif %}
{% if maxInputValue is not defined %}
  {% set maxInputValue = 1 %}
{% endif %}
{% if decimals is not defined %}
  {% set decimals = 0 %}
{% endif %}
{% set rangeSliderFilterOptions = {
  name,
  minKey,
  maxKey,
  minInputValue,
  maxInputValue,
  unit,
  currencySymbol,
  decimals,
  snippets: {
    filterRangeActiveMinLabel,
    filterRangeActiveMaxLabel,
    filterRangeErrorMessage,
    filterRangeLowerBoundErrorMessage
  }
} %}
{% block component_gbmed_custom_fields_filter_range %}
  <div class="filter-range filter-panel-item{% if sidebar %} d-grid{% else %} dropdown{% endif %}"
       data-filter-range-slider="true"
       data-filter-range-slider-plugin-options='{{ rangeSliderFilterOptions|json_encode }}'>
    {% block component_gbmed_custom_fields_filter_range_toggle %}
      <button class="filter-panel-item-toggle btn"
              aria-expanded="false"
              {% if sidebar %} data-bs-toggle="collapse" data-bs-target="#{{ filterItemId }}" {% else %} data-bs-toggle="dropdown" data-boundary="viewport" data-bs-offset="0,8" aria-haspopup="true" {% endif %}>
        {% block component_gbmed_custom_fields_filter_range_toggle_name %}
          {{ displayName }}
        {% endblock component_gbmed_custom_fields_filter_range_toggle_name %}
        {% block component_gbmed_custom_fields_filter_range_toggle_icon %}
          {% sw_icon 'arrow-medium-down' style {'pack': 'solid', 'size': 'xs', 'class': 'filter-panel-item-toggle'} %}
        {% endblock component_gbmed_custom_fields_filter_range_toggle_icon %}
      </button>
    {% endblock component_gbmed_custom_fields_filter_range_toggle %}
    {% block component_gbmed_custom_fields_filter_range_dropdown %}
      <div class="filter-range-dropdown filter-panel-item-dropdown{% if sidebar %} collapse{% else %} dropdown-menu{% endif %}"
           id="{{ filterItemId }}">
        {% block component_gbmed_custom_fields_filter_range_dropdown_container %}
          <div class="filter-range-slider-container">
            {% block component_compumess_custom_fields_filter_range_slider %}
              <div id="range-slider-{{ name }}"
                   class="compumess-range-slider"
                   data-min="{{ minInputValue }}"
                   data-max="{{ maxInputValue }}"></div>
              <div class="compumess-range-slider-info">
                von&nbsp;
                <strong class="compumess-range-slider-info-value" id="range-slider-info-min">{{ minInputValue }}</strong>
                &nbsp;bis&nbsp;
                <strong class="compumess-range-slider-info-value" id="range-slider-info-max">{{ maxInputValue }}</strong>
              </div>
              <input class="form-control min-input"
                     type="number"
                     name="{{ minKey }}"
                     min="{{ minInputValue }}"
                     max="{{ maxInputValue }}">
              <input class="form-control max-input"
                     type="number"
                     name="{{ maxKey }}"
                     min="{{ minInputValue }}"
                     max="{{ maxInputValue }}">
            {% endblock component_compumess_custom_fields_filter_range_slider %}
          </div>
        {% endblock component_gbmed_custom_fields_filter_range_dropdown_container %}
      </div>
    {% endblock component_gbmed_custom_fields_filter_range_dropdown %}
  </div>
{% endblock component_gbmed_custom_fields_filter_range %}
