{% set quickOrderUploadModalOptions = {
    snippets: {
        error: 'quickOrder.uploadErrorMessage'|trans|sw_sanitize,
        success: 'quickOrder.uploadSuccessMessage'|trans|sw_sanitize,
        product: 'quickOrder.uploadProductHeader'|trans|sw_sanitize,
        csv: 'quickOrder.uploadCSVHeader'|trans|sw_sanitize,
        combined: 'quickOrder.uploadCombinedHeader'|trans|sw_sanitize,
        current: 'quickOrder.uploadCurrentHeader'|trans|sw_sanitize,
        uploading: 'quickOrder.uploading'|trans|sw_sanitize
    }
} %}

{% block page_account_quickorder_upload_csv_modal %}
    <div class="modal fade quick-order-upload-modal"
         id="quickOrderUploadModal"
         data-b2b-quick-order-upload-modal="true"
         data-b2b-quick-order-upload-modal-options='{{ quickOrderUploadModalOptions|json_encode }}'
         tabindex="-1"
         aria-labelledby="quickOrderUploadModalLabel"
         aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    {% block page_account_quickorder_upload_csv_title %}
                        <h4 class="modal-title quick-order-upload__duplicated-title fs-4" hidden>
                            {{ "quickOrder.uploadModalDuplicatedTitle"|trans|sw_sanitize }}
                        </h4>
                        <h4 class="modal-title fs-4">
                            {{ "quickOrder.uploadCSVTitle"|trans|sw_sanitize }}
                        </h4>
                    {% endblock %}

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    {% block page_account_quickorder_upload_input %}
                        <div
                            class="quick-order-upload"
                        >
                            <div class="quick-order-upload__container">
                                <div class="quick-order-upload__content">
                                    {% sw_icon 'cloud-upload' %}
                                    {% sw_icon 'file' %}
                                    <div class="quick-order-upload__text">
                                        <h5>{{ "quickOrder.uploadContent"|trans|sw_sanitize }}</h5>
                                        <span>{{ "quickOrder.uploadSize"|trans|sw_sanitize }}</span>
                                    </div>
                                </div>
                                <input class="quick-order-upload__input" type="file" accept=".csv">
                                <button class="quick-order-upload__button">{{ "quickOrder.uploadButton"|trans|sw_sanitize }}</button>
                                <button class="btn btn-light btn-close quick-order-upload__btn-remove"></button>
                            </div>
                            <p class="quick-order-upload__description">
                                {{ "quickOrder.uploadCSVDescription"|trans|sw_sanitize }}
                                <br />
                                <a href="{{ asset('bundles/swagcommercial/static/files/template.csv') }}">{{ "quickOrder.downloadTemplate"|trans|sw_sanitize }}</a>
                            </p>
                            <div class="quick-order-upload__message"></div>
                            <template class="quick-order-upload__icon-success">
                                {% sw_icon 'checkmark-circle' %}
                            </template>
                            <template class="quick-order-upload__icon-error">
                                {% sw_icon 'x-circle' %}
                            </template>
                        </div>
                    {% endblock %}

                    {% block page_account_quickorder_options %}
                        <div class="quick-order-upload__options" hidden>
                            <label class="form-label">{{ "quickOrder.uploadOptionsLabel"|trans|sw_sanitize }}</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radio" id="add" value="add" checked>
                                <label class="form-check-label" for="add">
                                    {{ "quickOrder.uploadAddOption"|trans|sw_sanitize }}
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radio" id="overwrite" value="overwrite">
                                <label class="form-check-label" for="overwrite">
                                    {{ "quickOrder.uploadOverwriteOption"|trans|sw_sanitize }}
                                </label>
                            </div>
                        </div>
                    {% endblock %}

                    {% block page_account_quickorder_duplicated_products %}
                        <div class="quick-order-upload__duplicated-products" hidden>
                            <p class="fw-bold mb-4">{{ "quickOrder.uploadRule"|trans|sw_sanitize }}</p>
                            <table class="table quick-order-upload__table align-middle">
                                <thead>
                                    <tr>
                                        <th scope="col">{{ "quickOrder.uploadProductHeader"|trans|sw_sanitize }}</th>
                                        <th scope="col">{{ "quickOrder.uploadCurrentHeader"|trans|sw_sanitize }}</th>
                                        <th scope="col">{{ "quickOrder.uploadCSVHeader"|trans|sw_sanitize }}</th>
                                        <th scope="col">{{ "quickOrder.uploadCombinedHeader"|trans|sw_sanitize }}</th>
                                    </tr>
                                </thead>
                            </table>
                            <div class="quick-order-upload__selection"></div>
                        </div>
                    {% endblock %}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">{{ "global.default.cancel"|trans|sw_sanitize }}</button>
                    <button type="button" class="btn btn-primary quick-order-upload__btn-add" disabled>{{ "quickOrder.uploadAddBtn"|trans|sw_sanitize }}</button>
                    <button type="button" class="btn btn-primary quick-order-upload__btn-apply" hidden>{{ "global.default.apply"|trans|sw_sanitize }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
