{% block swag_customized_products_product_option %}
    <div class="container swag-customized-products__line-item-option-elements collapse" id="{{ childrenCollapseId }}">
        {% for nestedLineItem in lineItem.children %}
            <div class="swag-customized-products__line-item-option-element">
                {% block swag_customized_products_product_option_element %}
                    {% if nestedLineItem.children.count == 0 %}
                        {% block swag_customized_products_product_option_element_checkbox %}
                            <div class="swag-customized-products__line-item-option-sub-element">
                                <b>{{ nestedLineItem.label|u.truncate(60, '...', false)|raw }}</b>
                                <div class="swag-customized-products__line-item-option-element-detailed-price">
                                    <div class="swag-customized-products__line-item-option-element-detailed-unit-price">
                                        {% if showTaxPrice %}
                                            {% sw_include '@Storefront/storefront/component/line-item/element/tax-price.html.twig' with {
                                                lineItem: nestedLineItem
                                            } %}
                                        {% else %}
                                            {% sw_include '@Storefront/storefront/component/line-item/element/unit-price.html.twig' with {
                                                lineItem: nestedLineItem
                                            } %}
                                        {% endif %}
                                    </div>
                                    <div class="swag-customized-products__line-item-option-element-detailed-total-price">
                                        {% sw_include '@Storefront/storefront/component/line-item/element/total-price.html.twig' with {
                                            lineItem: nestedLineItem
                                        } %}
                                    </div>
                                </div>
                            </div>
                        {% endblock %}
                    {% else %}
                        {% if nestedLineItem.price.totalPrice > 0 %}
                            {% block swag_customized_products_product_option_element_parent %}
                                <div class="swag-customized-products__line-item-option-sub-element">
                                    {{ nestedLineItem.label|u.truncate(60, '...', false)|raw }}
                                    <div class="swag-customized-products__line-item-option-element-detailed-price">
                                        <div class="swag-customized-products__line-item-option-element-detailed-unit-price">
                                            {% if showTaxPrice %}
                                                {% sw_include '@Storefront/storefront/component/line-item/element/tax-price.html.twig' with {
                                                    lineItem: nestedLineItem
                                                } %}
                                            {% else %}
                                                {% sw_include '@Storefront/storefront/component/line-item/element/unit-price.html.twig' with {
                                                    lineItem: nestedLineItem
                                                } %}
                                            {% endif %}
                                        </div>
                                        <div class="swag-customized-products__line-item-option-element-detailed-total-price">
                                            {% sw_include '@Storefront/storefront/component/line-item/element/total-price.html.twig' with {
                                                lineItem: nestedLineItem
                                            } %}
                                        </div>
                                    </div>
                                </div>
                            {% endblock %}
                        {% endif %}
                        {% for optionLineItem in nestedLineItem.children %}
                            {% block swag_customized_products_product_option_element_children %}
                                <div class="swag-customized-products__line-item-option-sub-element">
                                    {{ nestedLineItem.label|u.truncate(30, '...', false)|raw }}: <b>{{ optionLineItem.label|u.truncate(30, '...', false)|raw }}</b>
                                    <div class="swag-customized-products__line-item-option-element-detailed-price">
                                        <div class="swag-customized-products__line-item-option-element-detailed-unit-price">
                                            {% if showTaxPrice %}
                                                {% sw_include '@Storefront/storefront/component/line-item/element/tax-price.html.twig' with {
                                                    lineItem: optionLineItem
                                                } %}
                                            {% else %}
                                                {% sw_include '@Storefront/storefront/component/line-item/element/unit-price.html.twig' with {
                                                    lineItem: optionLineItem
                                                } %}
                                            {% endif %}
                                        </div>
                                        <div class="swag-customized-products__line-item-option-element-detailed-total-price">
                                            {% sw_include '@Storefront/storefront/component/line-item/element/total-price.html.twig' with {
                                                lineItem: optionLineItem
                                            } %}
                                        </div>
                                    </div>
                                </div>
                            {% endblock %}
                        {% endfor %}
                    {% endif %}
                {% endblock %}
            </div>
        {% endfor %}
    </div>

{% endblock %}
