{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}

{% block page_product_detail_rich_snippets %}

	{# <div class="alert is--info is--rounded">
		<div class="alert--content">
			<a class="content--link" href="/ihr-persoenliches-angebot/?sInquiry=detail&amp;sOrdernumber={{ page.product.productNumber }}">
				Angebot anfordern
			</a>
		</div>
	</div> #}

	<nav class="product--actions">

		{% if config('core.cart.wishlistEnabled') %}
			{% sw_include '@Storefront/storefront/component/product/card/wishlist.html.twig' with {
				showText: true,
				size: 'md',
				productId: page.product.id
			} %}
		{% endif %}

		<a href="mailto:?body=Hallo,%0D%0A Ich möchte dir dieses produkt zeigen, dass ich beim  gefunden habe showroom.compumess.de {{ seoUrl('frontend.detail.page', { 'productId': page.product.id }) }}" class="icon-mail-to product--actions-detail">
			<svg aria-hidden="true" width="20" height="20" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" class="svg-inline--fa fa-envelope fa-w-16 fa-3x">
				<path fill="currentColor" d="M464 64H48C21.5 64 0 85.5 0 112v288c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zM48 96h416c8.8 0 16 7.2 16 16v41.4c-21.9 18.5-53.2 44-150.6 121.3-16.9 13.4-50.2 45.7-73.4 45.3-23.2.4-56.6-31.9-73.4-45.3C85.2 197.4 53.9 171.9 32 153.4V112c0-8.8 7.2-16 16-16zm416 320H48c-8.8 0-16-7.2-16-16V195c22.8 18.7 58.8 47.6 130.7 104.7 20.5 16.4 56.7 52.5 93.3 52.3 36.4.3 72.3-35.5 93.3-52.3 71.9-57.1 107.9-86 130.7-104.7v205c0 8.8-7.2 16-16 16z" class=""></path>
			</svg>
			per E-mail versenden</a>
		<a href="/handbuch-anfragen/?sInquiry=detail&amp;sOrdernumber={{page.product.productNumber}}" class="icon-mail-to default-documentation-file product--actions-detail">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewbox="0 0 20 20">
				<path fill="#000000" d="M14.5 18h-10c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h10c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z"></path>
				<path fill="#000000" d="M16.5 3c-0.276 0-0.5 0.224-0.5 0.5v15c0 0.276-0.224 0.5-0.5 0.5h-11c-0.827 0-1.5-0.673-1.5-1.5s0.673-1.5 1.5-1.5h9c0.827 0 1.5-0.673 1.5-1.5v-12c0-0.827-0.673-1.5-1.5-1.5h-10c-0.827 0-1.5 0.673-1.5 1.5v15c0 1.378 1.122 2.5 2.5 2.5h11c0.827 0 1.5-0.673 1.5-1.5v-15c0-0.276-0.224-0.5-0.5-0.5zM3.5 2h10c0.276 0 0.5 0.224 0.5 0.5v12c0 0.276-0.224 0.5-0.5 0.5h-9c-0.562 0-1.082 0.187-1.5 0.501v-13.001c0-0.276 0.224-0.5 0.5-0.5z"></path>
			</svg>
			Handbuch anfordern</a>
	</nav>

	{% set productNumber = page.product.productNumber %}
	{% set productAttr2 = page.product.translated.customFields.migration_Compumess57Live_product_attr2 %}
	{% set productEingangssspannung = page.product.translated.customFields.migration_Compumess57Live_product_attr3 %}
	{% set productAusgangsspannung = page.product.translated.customFields.migration_Compumess57Live_product_ausgangsspannung %}
	{% set productAttr4 = page.product.translated.customFields.migration_Compumess57Live_product_attr4 %}
	{% set productAttr6 = page.product.translated.customFields.migration_Compumess57Live_product_attr6 %}
	{% set productDownloads = page.product.translated.customFields.migration_Compumess57Live_product_produkblaetter_downloads %}
	{% set productGenauigkeitVaus = page.product.translated.customFields.migration_Compumess57Live_product_attr18 %}

	<ul class="product--base-info list--unstyled">
		{% if productNumber is defined %}
			<li class="base-info--entry entry--sku">
				<strong class="entry--label">
					Artikel-Nr.:
				</strong>
				<meta itemprop="productID" content="{{page.product.id}}">
				<span class="entry--content" itemprop="sku">
					{{ productNumber }}
				</span>
			</li>
		{% endif %}
		{% if productAttr2 %}
			<li class="base-info--entry entry-attribute">
				<strong class="entry--label">
					Ausgangsleistung:
				</strong>
				<span class="entry--content">
					{{ productAttr2 }}
				</span>
			</li>
		{% endif %}
		{% if productEingangssspannung %}
			<li class="base-info--entry entry-attribute">
				<strong class="entry--label">
					Eingangssspannung:
				</strong>
				<span class="entry--content">
					{{ productEingangssspannung }}
				</span>
			</li>
		{% endif %}
		{% if productAusgangsspannung %}
			<li class="base-info--entry entry-attribute">
				<strong class="entry--label">
					Ausgangsspannung:
				</strong>
				<span class="entry--content">
					{{ productAusgangsspannung }}
				</span>
			</li>
		{% endif %}
		{% if productAttr4 %}
			<li class="base-info--entry entry-attribute">
				<strong class="entry--label">
					Ausgangsstrom:
				</strong>
				<span class="entry--content">
					{{ productAttr4 }}
				</span>
			</li>
		{% endif %}
		{% if productAttr6 %}
			<li class="base-info--entry entry-attribute">
				<strong class="entry--label">
					Ausgänge:
				</strong>
				<span class="entry--content">
					{{ productAttr6 }}
				</span>
			</li>
		{% endif %}
		{% if productGenauigkeitVaus %}
			<li class="base-info--entry entry-attribute">
				<strong class="entry--label">
					Genauigkeit Vaus:
				</strong>
				<span class="entry--content">
					{{ productGenauigkeitVaus }}
				</span>
			</li>
		{% endif %}		
		{% if productDownloads %}
			<br>			
			<span class="entry--content">
				{{ productDownloads|raw }}
			</span>
		{% endif %}
	</ul>

	<div class="detail-telephone">
		<a href="tel:+49893215010" class="produkthiweis">
			<img src="/media/47/65/ef/1688551737/Produkthinweis.png">
		</a>
	</div>

	<div class="base-info--entry entry-attribute">
		{{ page.product.translated.customFields.migration_Compumess57Live_product_glossarlink|raw }}
	</div>	

	{{ parent() }}

	{% block page_product_detail_wishlist %}{% endblock %}
{% endblock %}

{% block page_product_detail_ordernumber_container %}{% endblock %}
