{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}

	{% block page_product_detail_rich_snippets %}

		<div class="alert is--info is--rounded">
			<div class="alert--content">
				<a class="content--link" href="/ihr-persoenliches-angebot/?sInquiry=detail&amp;sOrdernumber={{ page.product.productNumber }}">
					Angebot anfordern
				</a>
			</div>
		</div>

		{% block page_product_detail_data_rich_snippet_price_currency %}
			{{ parent() }}
		{% endblock %}

		{% block page_product_detail_price %}
			{{ parent() }}
		{% endblock %}

		{% block page_product_detail_tax %}
			{{ parent() }}
		{% endblock %}

		<nav class="product--actions">

			{% if config('core.cart.wishlistEnabled') %}
				{% block page_product_detail_wishlist %}
					{% sw_include '@Storefront/storefront/component/product/card/wishlist.html.twig' with {
                    showText: true,
                    size: 'md',
                    productId: page.product.id
                } %}
				{% endblock %}
			{% endif %}

			<a href="mailto:?body=Hallo,%0D%0A Ich möchte dir dieses produkt zeigen, dass ich beim  gefunden habe showroom.compumess.de https://compumess.de/62000d-ac/dc-programmierbar-aus-1800-v-chroma/" class="icon-mail-to product--actions-detail">
				<svg aria-hidden="true" width="20" height="20" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" class="svg-inline--fa fa-envelope fa-w-16 fa-3x">
					<path fill="currentColor" d="M464 64H48C21.5 64 0 85.5 0 112v288c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zM48 96h416c8.8 0 16 7.2 16 16v41.4c-21.9 18.5-53.2 44-150.6 121.3-16.9 13.4-50.2 45.7-73.4 45.3-23.2.4-56.6-31.9-73.4-45.3C85.2 197.4 53.9 171.9 32 153.4V112c0-8.8 7.2-16 16-16zm416 320H48c-8.8 0-16-7.2-16-16V195c22.8 18.7 58.8 47.6 130.7 104.7 20.5 16.4 56.7 52.5 93.3 52.3 36.4.3 72.3-35.5 93.3-52.3 71.9-57.1 107.9-86 130.7-104.7v205c0 8.8-7.2 16-16 16z" class=""></path>
				</svg>
				per E-mail versenden</a>
			<a href="https://compumess.de/handbuch-anfragen/?sInquiry=detail&amp;sOrdernumber=62000D" class="icon-mail-to default-documentation-file product--actions-detail">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewbox="0 0 20 20">
					<path fill="#000000" d="M14.5 18h-10c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h10c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z"></path>
					<path fill="#000000" d="M16.5 3c-0.276 0-0.5 0.224-0.5 0.5v15c0 0.276-0.224 0.5-0.5 0.5h-11c-0.827 0-1.5-0.673-1.5-1.5s0.673-1.5 1.5-1.5h9c0.827 0 1.5-0.673 1.5-1.5v-12c0-0.827-0.673-1.5-1.5-1.5h-10c-0.827 0-1.5 0.673-1.5 1.5v15c0 1.378 1.122 2.5 2.5 2.5h11c0.827 0 1.5-0.673 1.5-1.5v-15c0-0.276-0.224-0.5-0.5-0.5zM3.5 2h10c0.276 0 0.5 0.224 0.5 0.5v12c0 0.276-0.224 0.5-0.5 0.5h-9c-0.562 0-1.082 0.187-1.5 0.501v-13.001c0-0.276 0.224-0.5 0.5-0.5z"></path>
				</svg>
				Handbuch anfordern</a>
		</nav>

		<ul class="product--base-info list--unstyled">
			<li class="base-info--entry entry--sku">
				<strong class="entry--label">
					Artikel-Nr.:
				</strong>
				<meta itemprop="productID" content="{{page.product.id}}">
				<span class="entry--content" itemprop="sku">
					{{ page.product.productNumber }}
				</span>
			</li>
			<li class="base-info--entry entry-attribute">
				<strong class="entry--label">
					Ausgangsspannung:
				</strong>
				<span class="entry--content">
					{{ page.product.translated.customFields.migration_ComuMess5_product_ausgangsspannung }}
				</span>
			</li>
			<li class="base-info--entry entry-attribute">
				<strong class="entry--label">
					Ausgänge:
				</strong>
				<span class="entry--content">
					{{ page.product.translated.customFields.migration_ComuMess5_product_attr6 }}
				</span>
			</li>
			<br>
			<span class="entry--content">
				{{ page.product.translated.customFields.migration_ComuMess5_product_produkblaetter_downloads|raw }}
			</span>
		</ul>

		<br>
		<div class="detail-telephone">
			<a href="tel:+49893215010" class="produkthiweis">
				<img src="/media/47/65/ef/1688551737/Produkthinweis.png">
			</a>
		</div>

		<br>
		<div class="base-info--entry entry-attribute">
			{{ page.product.translated.customFields.migration_ComuMess5_product_glossarlink|raw }}
		</div>

		{{ parent() }}
	{% endblock %}

	{% block page_product_detail_buy_container %}
		{{ parent() }}
	{% endblock %}

	{% block page_product_detail_ordernumber_container %}{% endblock %}
