<div style="font-family:arial; font-size:12px;">
    <p>
        Hallo {{ employee.firstName }} {{ employee.lastName }},<br/>
        <br/>
        Sie wurden{% if customer.company|length > 0 %} von {{ customer.company }}{% endif %} eingeladen, ein Mitarbeiter-Konto bei {{ shopName }} zu erstellen.<br/>
        <br/>
        Klicken Sie auf den folgenden Link, um ein Passwort festzulegen und die Registrierung abzuschließen:<br/>
        <br/>
        <a href="{{ inviteLink }}">Einladung annehmen</a><br/>
        <br/>
        Dieser Link ist für die nächsten 2 Stunden gültig. Nach Ablauf dieser Frist muss eine neue Einladung angefragt werden.<br/>
    </p>
</div>
