<div style="font-family:arial; font-size:12px;">
    <p>
        Hello {{ employee.firstName }} {{ employee.lastName }},<br/>
        <br/>
        You have been invited{% if customer.company|length > 0 %} by {{ customer.company }}{% endif %} to create an employee account at {{ shopName }}.<br/>
        <br/>
        Click on the following link to set a password and complete the sign-up process:<br/>
        <br/>
        <a href="{{ inviteLink }}">Accept invitation</a><br/>
        <br/>
        This link is valid for the next 2 hours. After this period, a new invitation must be requested.<br/>
    </p>
</div>
